{# {% apply inky_to_html|inline_css(source( '@inline/foundation-emails.css'),source( '@inline/emails.css')) %} #}
{# {% apply inky_to_html|inline_css(source( '@inline/foundation-emails.css')) %} #}
{% apply inky_to_html|inline_css(source( '@inline/bootstrap.min.css')) %}
<!doctype html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Email Contact">
    <meta name="author" content="CMS Hermes">
</head>


{#    <body class="iframe">#}
    <body>
        <div class="container-fluid col-lg-12 mx-auto px-0" >
            {% block body %}
                {% block content %}
                {% endblock content %}
            {% endblock body %}
        </div>

    </body>
</html>
{% endapply %}
