{% extends "/newsletter/base_email.html.twig" %}

{% block content %}


    {% if section.posts is defined %}
    {% set posts = section.posts %}
    {% endif %}

    {% for post in posts|sort((a, b) => a.position <=> b.position) %}
        <div class="container-fluid col-lg-{{  (section.templateWidth ?? container_width)|col_lg() }} mx-auto px-0" >
            {% if post.content is defined %}
                {{ post.content|raw|newsletter(app.request.server.get('REMOTE_ADDR')) }} 
            {% endif %}
        </div>
    {% endfor %}


            
{% endblock content %}