<!-- Description-->

<div class="pt-2 pt-md-5" id="hms-10">&nbsp;</div>

<section class="mb-1 mb-md-5">
<div class="row col-lg-8 mx-auto text-center">
<h2 class="text-dark text-dark">Description</h2>

<div class="col-lg-5 mx-auto">
<div class="border-dark border-bottom border-3 col-2 mt-2 mb-2 mx-auto">&nbsp;</div>
</div>

<p class="text-dark mb-2 mb-lg-5 pt-2 pb-2 pb-lg-5 h5">Vous souhaitez concevoir des sites web responsives, légers et élégants, Hermes a été développé pour vous faciliter la tâche. Hermes vous offre la possibilité de réaliser des sites one-page et multi-page</p>
</div>
</section>
