{% extends '@FOSCKEditor/Form/ckeditor_widget.html.twig' %}

{% block ckeditor_widget_extra %}
   
    {# console.log(CKEDITOR.instances.section_template_posts_0_content);
    console.log(CKEDITOR.instances.cke_1); #}
    {# CKEDITOR.instances.cke_1.insertHtml('<a href=\x22my_link\x22>' + CKEDITOR.instances.cke_1.getSelection().getNative() + '</a>'); #}

{% endblock %}