<div class="bg-white mb-5 pb-5">
<div class="container col-12 my-4 pt-5">
<div class="row mx-auto col-12 col-md-10 border">
<div class="col-12 col-md-7">
<h3 class="text-center py-3">Descriptif</h3>

<div class="px-lg-4 px-0">
<p class="text-justify">Z&eacute;ro g&acirc;chis, nos stylistes ont choisi d&#39;utiliser les chutes de tissus Liberty de nos anciennes collections pour f&eacute;miniser notre jogging et en faire une pi&egrave;ce sport-chic pour l&#39;entrainement, &agrave; l&#39;EPS ou pour fl&acirc;ner avec charme &agrave; la maison.</p>

<p><b>D&eacute;tails</b> Biais en tissu Liberty dans la capuche, aux poches, sur la glissi&egrave;re et &agrave; la taille &eacute;lastiqu&eacute;e. Coudi&egrave;res en forme d&#39;&eacute;toile en tissu Liberty. Etiquette nom. Pantalon droit avec 2 poches italiennes.</p>

<p><b>Mati&egrave;re</b> Molleton 81% coton, 19% polyester. Tissu Liberty 100% coton.</p>

<p class="fw-bold fst-italic">Made with Liberty Fabric - Original British design since 1875.</p>

<p>Des motifs dessin&eacute;s ou peints &agrave; la main par l&#39;&eacute;quipe Liberty dans le quartier de Soho &agrave; Londres, puis transpos&eacute;s au tissu dans l&#39;imprimerie italienne de Liberty.</p>

<p>Les tissus Liberty sont pour nous un gage de qualit&eacute;, de raffinement et de cr&eacute;ativit&eacute;, chaque saison nos stylistes choisissent parmi une s&eacute;lection exclusive les tissus Liberty qui composent nos collections.</p>

<p>C&#39;est une histoire de savoir-faire, d&#39;amour des imprim&eacute;s qui nous lient &agrave; cette marque prestigieuse.</p>
</div>
</div>

<div class="col-12 col-md-5 bg-light">
<h3 class="text-center  py-3">Conseil d&#39;entretien</h3>

<div class="container pt-3">
<div class="row align-items-center">
<div class="col-3"><img src="/images/hermes/Icons/lavage.gif" /></div>

<div class="col-9 text-uppercase">Lavage machine &agrave; 40&deg;C (cycle mod&eacute;r&eacute;)</div>
</div>
</div>

<div class="container pt-5">
<div class="row align-items-center">
<div class="col-3"><img src="/images/hermes/Icons/chlore.gif" /></div>

<div class="col-9 text-uppercase">Chlore interdit</div>
</div>
</div>

<div class="container pt-5">
<div class="row align-items-center">
<div class="col-3"><img src="/images/hermes/Icons/tambour.gif" /></div>

<div class="col-9 text-uppercase">S&eacute;chage en tembour autoris&eacute; &agrave; temp&eacute;rature mod&eacute;r&eacute;e</div>
</div>
</div>

<div class="container pt-5">
<div class="row align-items-center">
<div class="col-3"><img src="/images/hermes/Icons/repassage.gif" /></div>

<div class="col-9 text-uppercase">Repassage mod&eacute;r&eacute; (temp&eacute;rature maximum de 150&deg;C)</div>
</div>
</div>

<div class="container pt-5 pb-3">
<div class="row align-items-center">
<div class="col-3"><img src="/images/hermes/Icons/lavage_interdit.gif" /></div>

<div class="col-9 text-uppercase">Nettoyage &agrave; sec interdit</div>
</div>
</div>
</div>
</div>
</div>
</div>
