<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]--><!--====== PRELOADER PART START ======-->
<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle">&nbsp;</div>
                    </div>

                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== PRELOADER PART ENDS ======--><!--====== HEADER PART START ======-->

<header class="header-area" style="background-color: #889525;">
    <div class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg"><a class="navbar-brand" href="/"><img alt="brand" class="rounded-circle" src="/img/hermes/serrurier/background.jpeg" /> </a><button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" id="toggler-icon-app" type="button"></button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item active"><a class="js-scroll-trigger" href="#home" style="color: #3c0808;">Accueil</a></li>
                                <li class="nav-item"><a class="js-scroll-trigger" href="#cordonnerie" style="color: #3c0808;">Cordonnerie</a></li>
                                <li class="nav-item"><a class="js-scroll-trigger" href="#serrurerie" style="color: #3c0808;">Serrurerie</a></li>
                                <li class="nav-item"><a class="js-scroll-trigger" href="#facts" style="color: #3c0808;">Quelques chiffres</a></li>
                                <li class="nav-item"><a class="js-scroll-trigger" href="#contact" style="color: #3c0808;">Contact</a></li>
                            </ul>
                        </div>
                        <!-- navbar collapse --></nav>
                    <!-- navbar --></div>
            </div>
            <!-- row --></div>
        <!-- container --></div>
    <!-- navbar area -->

    <div class="header-hermes bg_cover" id="home" style="background-image: url(img/hermes/one-page-1/banner-bg.svg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="header-hermes-content text-center">
                        <hr class="bg-white">

                        <h4 class="header-sub-title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.0s">Cordonnerie / Serrurerie / Cl&eacute;s / Badges / Plaques minéralogiques / Gravures</h4>

                        <h4 class="h-bay-jamjuree text-white wow fadeInUp  mt-3" data-wow-delay="0.5s" data-wow-duration="1.0s">Besoin d&#39;un serrurier en urgence ?</h4>

                        <h4 class="h-bay-jamjuree text-white wow fadeInUp  mt-3" data-wow-delay="0.5s" data-wow-duration="1.0s">Appelez-nous 24h/24h au 06 11 12 13 14</h4>

                        <hr class="bg-white">

                        <a class="js-scroll-trigger main-btn wow fadeInUp rounded-pill" data-wow-delay="0.8s" data-wow-duration="1.0s" href="#cordonnerie">Coodonnerie</a></div>
                    <!-- header hero content --></div>
            </div>
            <!-- row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="header-hermes-image text-center wow fadeIn" data-wow-delay="1.0s" data-wow-duration="1.0s"><img alt="coordonnier-serrurier" src="/img/hermes/serrurier/background.jpeg" style="width: 900px; height: 675px;" /></div>
                    <!-- header hero image --></div>
            </div>
            <!-- row --></div>
        <!-- container -->

        <div class="particles" id="particles-1">&nbsp;</div>
    </div>
    <!-- header hero --></header>
<!--====== HEADER PART ENDS ======--><!--====== SERVICES PART START ======-->

<section class="services-area pt-5 mt-5" id="cordonnerie">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">
                    <div class="line m-auto">&nbsp;</div>

                    <h3 class="title">Pour une r&eacute;paration ou un entretien <span>&agrave; des tarifs tr&egrave;s abordables.</span></h3>
                </div>
                <!-- section title --></div>
        </div>
        <!-- row --><!--====== BRAMD PART START ======-->

        <div class="brand-area pt-2">
            <div class="container">
                <h5 class="h-bay-jamjuree"><span>L&rsquo;atelier mettra son savoir-faire et sa passion &agrave; profit pour raviver l&rsquo;&eacute;clat et les semelles de vos chaussures dans les plus brefs d&eacute;lais. Le petit plus : le choix de ceintures en cuir italien pour matcher la couleur de vos chaussures ! </span></h5>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-logo d-flex align-items-center justify-content-center justify-content-md-between">
                            <div class="single-logo mt-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s"><img alt="brand" src="/img/hermes/serrurier/cordonnerie/cordonnerie1.jpeg" style="width: 275px; height: 183px;" /></div>
                            <!-- single logo -->

                            <div class="single-logo mt-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1.0s"><img alt="brand" src="/img/hermes/serrurier/cordonnerie/cordonnerie2.jpeg" style="width: 346px; height: 145px;" /></div>
                            <!-- single logo -->

                            <div class="single-logo mt-30 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1.0s"><img alt="brand" src="/img/hermes/serrurier/cordonnerie/cordonnerie3.jpeg" style="height: 169px; width: 300px;" /></div>
                            <!-- single logo -->

                            <div class="single-logo mt-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="1.0s"><img alt="brand" src="/img/hermes/serrurier/cordonnerie/cordonnerie4.jpeg" style="width: 386px; height: 131px;" /></div>
                            <!-- single logo -->

                            <div class="single-logo mt-30 wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1.0s"><img alt="brand" src="/img/hermes/serrurier/cordonnerie/cordonnerie5.jpeg" style="width: 306px; height: 165px;" /></div>
                            <!-- single logo --></div>
                        <!-- brand logo --></div>
                </div>
                <!-- row --></div>
            <!-- container --></div>
        <!--====== BRAMD PART ENDS ======-->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s">
                    <div class="services-icon"><img alt="shape" class="shape" src="/img/hermes/serrurier/cordonnerie/cordonnerie4.jpeg" style="width: 386px; height: 131px;" /></div>

                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#">Clean</a></h4>

                        <p class="text">La cordonnerie est intrins&egrave;quement une activit&eacute; qui s&rsquo;inscrit dans l&rsquo;anti-gaspillage que l&rsquo;on nomme aussi le mouvement du durable. En effet il est pr&eacute;f&eacute;rable de faire r&eacute;parer et entretenir des chaussures haut de gamme souvent confectionn&eacute;es en Europe (France, Angleterre et Italie) plut&ocirc;t que de consommer et de jeter des chaussures &agrave; bas couts fabriqu&eacute;s en Asie (Chine, Bengladesh&hellip;)..</p>
                    </div>
                </div>
                <!-- single services --></div>

            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
                    <div class="services-icon"><img alt="shape" class="shape" src="/img/hermes/serrurier/cordonnerie/cordonnerie2.jpeg" style="width: 346px; height: 145px;" /></div>

                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#">Robust</a></h4>

                        <p class="text">Profession qui a travers&eacute; les si&egrave;cles. Aujourd&#39;hui les cordonniers adoptent les nouvelles technologies, &eacute;largissant toujours plus les services propos&eacute;s &agrave; la client&egrave;le : cordonnerie traditionnelle, la nouvelle tendance avec la r&eacute;paration et le nettoyage des sneakers et baskets&hellip;</p>
                    </div>
                </div>
                <!-- single services --></div>

            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-delay="0.8s" data-wow-duration="1s">
                    <div class="services-icon"><img alt="shape" class="shape" src="/img/hermes/serrurier/cordonnerie/cordonnerie5.jpeg" style="width: 306px; height: 165px;" /></div>

                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#">Powerful</a></h4>

                        <p class="text">Le respect de la technique de r&eacute;paration est le mot d&#39;ordre de ses cordonniers. La passion ainsi que la ma&icirc;trise du cuir permettent &agrave; La Cordonnerie de vous proposer d&#39;autres prestations. De la r&eacute;paration sur des accessoires et v&ecirc;tements de cuir jusqu&#39;&agrave; la retouche de bottes &agrave; votre morphologie, La Cordonnerie r&eacute;pond &agrave; vos demandes.</p>
                    </div>
                </div>
                <!-- single services --></div>
        </div>
        <!-- row --></div>
    <!-- container --></section>
<!--====== SERVICES PART ENDS ======--><!--====== ABOUT PART START ======-->

<section class="about-area pt-5" id="serrurerie">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-delay="0.5s" data-wow-duration="1s">
                    <div class="section-title">
                        <div class="line">&nbsp;</div>

                        <h3 class="title">Reproduction de cl&eacute;s <span>tous types, toutes marques</span></h3>
                    </div>
                    <!-- section title -->

                    <p class="text">La reproduction de cl&eacute; est une technique r&eacute;serv&eacute;e aux serruriers et aux professionnels de la quincaillerie. Cette technique consiste, comme son nom l&rsquo;indique, &agrave; cr&eacute;er un double d&rsquo;une cl&eacute;. Pourquoi reproduire une cl&eacute; ? L&rsquo;ouverture d&rsquo;une porte par cl&eacute; est le syst&egrave;me de verrouillage et de s&eacute;curit&eacute; le plus utilis&eacute;. Le double de cl&eacute; permet &agrave; plusieurs utilisateurs d&rsquo;ouvrir la m&ecirc;me porte et permet, en cas de perte de la cl&eacute; principale, d&rsquo;ouvrir la porte sans avoir &agrave; changer de cylindre. Toutes les serrures &agrave; cl&eacute;s ne disposent pas du m&ecirc;me niveau de s&eacute;curit&eacute;. En effet, on distingue les cl&eacute;s non-prot&eacute;g&eacute;es des cl&eacute;s dites prot&eacute;g&eacute;es dont la reproduction est r&eacute;glement&eacute;e. La s&eacute;curit&eacute; et la hi&eacute;rarchisation d&rsquo;un syst&egrave;me de cl&eacute; est d&eacute;fini dans ce que l&rsquo;on appelle un organigramme de serrures.</p>
                </div>
                <!-- about content --></div>

            <div class="col-lg-6">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-delay="0.5s" data-wow-duration="1s"><img alt="about" src="/img/hermes/serrurier/serrurerie/serrure3.jpeg" /></div>
                <!-- about image --></div>
        </div>
        <!-- row --></div>
    <!-- container --></section>
<!--====== ABOUT PART ENDS ======--><!--====== ABOUT PART ENDS ======--><!--====== ABOUT PART ENDS ======--><!--====== VIDEO COUNTER PART START ======-->

<section class="video-counter pt-5" id="facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="counter-wrapper mt-50 wow fadeIn" data-wow-delay="0.8s" data-wow-duration="1s">
                    <div class="counter-content">
                        <div class="section-title">
                            <div class="line">&nbsp;</div>

                            <h3 class="title">Quelques chiffres <span> au sujet de De l&#39;atelier</span></h3>
                        </div>
                        <!-- section title -->

                        <p class="text">Depuis bient&ocirc;t 10 ans, je redonne vie &agrave; vos chaussures, je r&eacute;pare vos serrures .</p>
                    </div>
                    <!-- counter content -->

                    <div class="row no-gutters">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="single-counter counter-color-1 d-flex align-items-center justify-content-center">
                                <div class="counter-items text-center"><span class="count"><span class="counter">30</span></span>

                                    <p class="text">Types de clefs</p>
                                </div>
                            </div>
                            <!-- single counter -->
                        </div>

                        <div class="col-4 d-flex justify-content-center">
                            <div class="single-counter counter-color-2 d-flex align-items-center justify-content-center">
                                <div class="counter-items text-center"><span class="count"><span class="counter">328</span></span>

                                    <p class="text">Type de chaussures</p>
                                </div>
                            </div>
                            <!-- single counter -->
                        </div>

                        <div class="col-4 d-flex justify-content-center">
                            <div class="single-counter counter-color-3 d-flex align-items-center justify-content-center">
                                <div class="counter-items text-center"><span class="count"><span class="counter">1568</span></span>

                                    <p class="text">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ventes </p>
                                </div>
                            </div>
                            <!-- single counter -->
                        </div>

                    </div>
                    <!-- row --></div>
                <!-- counter wrapper --></div>
        </div>
        <!-- row --></div>
    <!-- container --></section>
<!--====== VIDEO COUNTER PART ENDS ======--><!--====== FOOTER PART ENDS ======--><!--====== BACK TOP TOP PART START ======--><!--====== BACK TOP TOP PART ENDS ======--><!--====== PART START ======--><!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-"></div>
            </div>
        </div>
    </section>
--><!--====== PART ENDS ======-->

<section id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">
                    <div class="line m-auto">&nbsp;</div>

                    <h3 class="title">Contact</h3>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center w-75 m-auto">Nous sommes joignable de 9h00 &agrave; 19h00</p>

    <div class="row mt-5 pt-5">
        <div class="col-sm-12 col-md-6 col-lg-4 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <h4 class="text-uppercase mb-5">T&eacute;l&eacute;phone</h4>

                    <p>01 11 12 13 14 15,+06 11 12 13 14</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <h4 class="text-uppercase mb-5">L&#39;atelier</h4>

                    <address>1 rue Jean Jaur&egrave;s 94800 Villejuif</address>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <h4 class="text-uppercase mb-5">email</h4>

                    <p><a href="mailto:hermes@atlas-services.fr">coordonnerie-serrurerie@cs.fr</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
