<div class="fiche-section py-5">
    <div class="container">
        <arqticle>
            <h3 class="text-left mx-auto h-alfaSlabOne" style="color:#fe2737">Murky World</h3>
            <hr class="float-left mx-auto mb-3" style="height:5px;width:150px;background-color:#fe2737"/>

            <div class="row col-lg-12 mx-auto col-12 text-left h-bay-jamjuree">

                <div class="col-lg-8 mx-auto col-12 ">
                    <p>Dans un univers où la frontière entre la réalité et le surnaturel est bien floue, Tugat est
                        un brave guerrier, à l’esprit droit et simple, qui se retrouve entraîné dans une quête qu’il
                        n’a pas choisie et dont il ne sait pas vraiment quel est le but. Au cours d’une épopée
                        parsemée d’embûches, de déceptions et de trahisons, mais soutenu par les enseignements de
                        son maitre disparu, il n’aura de cesse de retrouver la belle Moja dont il souhaite se faire
                        aimer… guidé par un agent du destin qui n’est pas totalement désintéressé !</p>
                    <p>Cette histoire aux faux airs de quête initiatique parue outre-Atlantique dans le magazine
                        culte pour adultes <strong>HEAVY METAL</strong>, offre à <strong>Richard CORBEN</strong> une
                        nouvelle occasion d’explorer avec jubilation les univers de fantasy qui ont fait de lui un
                        auteur adulé pour sa liberté créative, depuis ses débuts et ses premières sagas de
                        <strong>DEN</strong>,
                        de <strong>Bloodstar</strong>, des <strong>Mille et Une Nuits</strong>, ou de
                        <strong>Pilgor</strong>.</p>
                    <p><strong>Murky World</strong> est un univers dur, barbare, violent et sensuel dans lequel
                        l’auteur pose un regard acéré sur l’humanité qui, si elle offre parfois de beaux atours,
                        n’est jamais vraiment reluisante. Dans une succession de saynètes qui écriront son épopée,
                        Tugat, guerrier valeureux mais simple (presque candide ?) tel que Corben les a toujours
                        aimés, va évoluer avec beaucoup d’ironie à travers ce <strong>Monde Trouble</strong>,
                        confronté à l’hostilité, à la duplicité et au mépris de ses semblables.</p>
                    <p>Même avec ses ingrédients favoris, le <strong>Grand Prix d’Angoulême 2018</strong> n’emprunte
                        jamais les mêmes sentiers et il signe ici une nouvelle saga originale graphiquement sublime
                        à des années-lumière de la production ultra-codifiée et habituelle en bandes dessinées de
                        fantasy.</p>

                    <ul class="list-unstyled top">
                        <li class="cat">Collection : <a
                                    href="https://labeldelirium.com/book-categories/richard-corben/" rel="tag">Richard
                                Corben</a></li>
                    </ul>

                </div>

                <div class="col-lg-4 mx-auto col-12">
                    <img src="https://labeldelirium.com/wp-content/uploads/2020/10/couv_murky_world.jpg"
                         class="" alt="" loading="lazy"
                         srcset="https://labeldelirium.com/wp-content/uploads/2020/10/couv_murky_world.jpg 309w, https://labeldelirium.com/wp-content/uploads/2020/10/couv_murky_world-216x300.jpg 216w, https://labeldelirium.com/wp-content/uploads/2020/10/couv_murky_world-300x417.jpg 300w"
                         sizes="(max-width: 309px) 100vw, 309px" title="" width="309" height="430">
                    <p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=96XJDPDP2GJLG"
                           target="_blank" rel="noopener">
                            <img loading="lazy"
                                                               class="alignnone size-full wp-image-1707"
                                                               src="http://labeldelirium.com/wp-content/uploads/2020/01/bt_paypal.png"
                                                               alt=""
                                                               srcset="https://labeldelirium.com/wp-content/uploads/2020/01/bt_paypal.png 159w, https://labeldelirium.com/wp-content/uploads/2020/01/bt_paypal-150x26.png 150w"
                                                               sizes="(max-width: 159px) 100vw, 159px" width="159"
                                                               height="26">
                        </a>
                    </p>
                    <p>
                        <span style="color: #83455a"><strong>SCENARIOS &amp; DESSINS</strong> RICHARD CORBEN</span><br>
                        <span style="color: #83455a"><strong>TRADUCTION</strong> ALEX NIKOLAVITCH</span><br>
                        <span style="color: #83455a">136 PAGES COULEUR</span><br>
                        <span style="color: #83455a">22 x 30 CM, CARTONNÉ</span><br>
                        <span style="color: #83455a"><strong> PRIX</strong> 25 €</span><br>
                        <span style="color: #83455a"><strong> DATE DE PARUTION</strong> 06/11/2020</span><br>
                        <span style="color: #83455a"><strong> ISBN</strong> 979-10-90916-64-7</span></p>
                    <!-- index.php -->
                    <div class=" row col-lg-12">
                        <!-- Thumbnails -->
                        <div class="col-lg-4">
                            <div class="thumbnail">
                                <a href="https://labeldelirium.com/wp-content/gallery/murky-wolrd/gal_murkyworld_01.jpg"
                                   title="Murky Wolrd Extrait 1"
                                   data-src="https://labeldelirium.com/wp-content/gallery/murky-wolrd/gal_murkyworld_01.jpg"
                                   data-thumbnail="https://labeldelirium.com/wp-content/gallery/murky-wolrd/thumbs/thumbs_gal_murkyworld_01.jpg"
                                   data-image-id="189" data-title="Oink_int_16.indd"
                                   data-description="Murky Wolrd Extrait 1" data-image-slug="gal_murkyworld_01"
                                   class="ngg-fancybox" rel="97c7d3eaca6261f7d7ece351b058a582">
                                    <img title="Oink_int_16.indd" alt="Oink_int_16.indd"
                                         src="https://labeldelirium.com/wp-content/gallery/murky-wolrd/cache/gal_murkyworld_01.jpg-nggid03189-ngg0dyn-80x100x100-00f0w010c011r110f110r010t010.jpg"
                                         style="max-width:100%;" width="80" height="100">
                                </a>
                            </div>
                        </div>


                        <div class=thumbnail col-lg-4">
                            <div class="ngg-gallery-thumbnail">
                                <a href="https://labeldelirium.com/wp-content/gallery/murky-wolrd/gal_murkyworld_02.jpg"
                                   title="Murky Wolrd Extrait 2"
                                   data-src="https://labeldelirium.com/wp-content/gallery/murky-wolrd/gal_murkyworld_02.jpg"
                                   data-thumbnail="https://labeldelirium.com/wp-content/gallery/murky-wolrd/thumbs/thumbs_gal_murkyworld_02.jpg"
                                   data-image-id="190" data-title="Oink_int_16.indd"
                                   data-description="Murky Wolrd Extrait 2" data-image-slug="gal_murkyworld_02"
                                   class="ngg-fancybox" rel="97c7d3eaca6261f7d7ece351b058a582">
                                    <img title="Oink_int_16.indd" alt="Oink_int_16.indd"
                                         src="https://labeldelirium.com/wp-content/gallery/murky-wolrd/cache/gal_murkyworld_02.jpg-nggid03190-ngg0dyn-80x100x100-00f0w010c011r110f110r010t010.jpg"
                                         style="max-width:100%;" width="80" height="100">
                                </a>
                            </div>
                        </div>


                        <div class="thumbnail col-lg-4">
                            <div class="ngg-gallery-thumbnail">
                                <a href="https://labeldelirium.com/wp-content/gallery/murky-wolrd/gal_murkyworld_03.jpg"
                                   title="Murky Wolrd Extrait 3"
                                   data-src="https://labeldelirium.com/wp-content/gallery/murky-wolrd/gal_murkyworld_03.jpg"
                                   data-thumbnail="https://labeldelirium.com/wp-content/gallery/murky-wolrd/thumbs/thumbs_gal_murkyworld_03.jpg"
                                   data-image-id="191" data-title="Oink_int_16.indd"
                                   data-description="Murky Wolrd Extrait 3" data-image-slug="gal_murkyworld_03"
                                   class="ngg-fancybox" rel="97c7d3eaca6261f7d7ece351b058a582">
                                    <img title="Oink_int_16.indd" alt="Oink_int_16.indd"
                                         src="https://labeldelirium.com/wp-content/gallery/murky-wolrd/cache/gal_murkyworld_03.jpg-nggid03191-ngg0dyn-80x100x100-00f0w010c011r110f110r010t010.jpg"
                                         style="max-width:100%;" width="80" height="100">
                                </a>
                            </div>
                        </div>
                        <br style="clear: both">

                    </div>

                    <span class="share-title">Share on: </span>
                    <ul class="list-unstyled">

                        <li class="share-on">

                            <a target="blank" title="Murky+World"
                               href="http://www.facebook.com/share.php?u=https://labeldelirium.com/book/murky-world/"
                               onclick="window.open('http://www.facebook.com/share.php?u=https://labeldelirium.com/book/murky-world/','facebook','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;"
                               class=" facebook ">

                                <i class="fa fa-facebook-square"></i><span>Facebook</span>

                            </a>


                        </li>

                        <li class="share-on">

                            <a target="blank" title="Murky+World"
                               href="https://twitter.com/share?text=Murky+World%20-%20&amp;url=https://labeldelirium.com/book/murky-world/"
                               onclick="window.open('https://twitter.com/share?text=Murky+World%20-%20&amp;url=https://labeldelirium.com/book/murky-world/','twitter','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;"
                               class="twitter">

                                <i class="fa fa-twitter-square"></i><span>Twitter</span>

                            </a>

                        </li>

                        <li class="share-on">

                            <a href="http://pinterest.com/pin/create/button/?url=https://labeldelirium.com/book/murky-world/&amp;media=https://labeldelirium.com/wp-content/uploads/2020/10/couv_murky_world.jpg&amp;description=Murky+World"
                               target="_blank" class=" pinterest offblack">

                                <i class="fa fa-pinterest-square"></i><span>Pinterest</span>

                            </a>

                        </li>

                        <li class="share-on">

                            <a onclick="window.open('https://plus.google.com/share?url=https://labeldelirium.com/book/murky-world/','gplusshare','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;"
                               href="https://plus.google.com/share?url=https://labeldelirium.com/book/murky-world/"
                               class=" googleplus offblack">

                                <i class="fa fa-google-plus-square"></i><span>Google+</span>

                            </a>

                        </li>

                    </ul>

                </div>

            </div>
        </article>
    </div>
</div>