<section id="gallerie" class="h-bay-jamjuree">
    <div class="container text-left">
        <div class="row col-lg-12">
            <div class="col-lg-12 text-center">
                <h2 class="h-oswald font-weight-light mt-3 mb-3">Faites connaissance avec Oceano</h2>
                <h5 class="col-lg-12 mx-auto text-dark mb-3">En duo, trio ou quartet, le groupe OCEANO propose un
                    répertoire musical fait de standards de Jazz, de Bossa Nova et de chansons revisitées parfaitement
                    adapté pour procurer une atmosphère festive et chaleureuse aux événements tels que cocktails et vins
                    d’honneurs, dîners et soirées d’entreprise.</h5>
            </div>
        </div>
        <span>
         <hr class="mt-2 mb-2"/>
        <h3 class="font-weight-light text-center text-lg-center mb-0">Notre gallerie</h3>
        <hr class="mt-2 mb-2"/>
        <div class="row text-center text-lg-center mt-3">
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/1.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/2.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/3.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/4.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/5.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/6.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/7.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/8.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/9.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/10.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/11.jpg"/> </a></div>
        <div class="col-lg-3 col-md-4 col-12"><a class="d-block mb-4 h-100"><img alt="" class="img-fluid img-thumbnail"
                                                                                 src="/img/hermes/test/libre/12.jpg"/> </a></div>
        </div>
    </span>
    </div>
</section>

