<article class="p-lg-4 p-sm-2 pb-sm-4 text-justify bg-white border-primary mx-auto
      h-w-70
      " data-url="/sciences/2020/10/20/le-chat-de-nazca-un-nouveau-geoglyphe-dans-le-desert-peruvien_1802905">
    <div class="h-h-10 h-mh-10">
        <header class="p-4 h-h-10 h-mh-10 bg-white" >

                <div class="h-impact text-center text-danger h-font-size-2">Arch&eacute;ologie</div>

                <h1 class="h-impact">Le chat de Nazca, un nouveau g&eacute;oglyphe dans le d&eacute;sert p&eacute;ruvien</h1>

                <div><span class="authors">Par <span class="author"> <a
                                    href="https://www.liberation.fr/auteur/5153-camille-gevaudan"><span>Camille G&eacute;vaudan</span></a> </span> </span>
                    &mdash; <span class="date"> <time
                                datetime="2020-10-20T12:27:17">20 octobre 2020 &agrave; 12:27</time> </span>
                </div>
        </header>
    </div>

    <div class="container-column clearfix">
        <div class="col-lg-12 col-12">
            <figure class="">
                <a  role="button"> <img
                            alt="Une silhouette de chat longue de 37 mètres a été mise au jour sur une colline servant de point de vue naturel, dans le désert de Nazca."
                            data-lazy-load="false"
                            data-src="https://medias.liberation.fr/photo/1342246-standard_felino-mirador.jpg?modified_at=1603189410&amp;width=960"
                            data-src-retina="https://medias.liberation.fr/photo/1342246-standard_felino-mirador.jpg?modified_at=1603189410&amp;width=960"
                            src="https://medias.liberation.fr/photo/1342246-standard_felino-mirador.jpg?modified_at=1603189410&amp;width=960"
                            class="w-100"/>
                </a>
                <figcaption class="small caption">

                    Une silhouette de chat longue de 37 mètres a été mise au jour sur une colline servant de point de vue naturel, dans le désert de Nazca.<span class="desc"></span>


                    <span class="copy">Photo Ministère de la Culture péruvien</span>

                    <span class="share">
      <div class="share-link ">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.liberation.fr%2Fsciences%2F2020%2F10%2F20%2Fle-chat-de-nazca-un-nouveau-geoglyphe-dans-le-desert-peruvien_1802905&amp;t=Le+chat+de+Nazca%2C+un+nouveau+g%C3%A9oglyphe+dans+le+d%C3%A9sert+p%C3%A9ruvien" class="js-share-facebook" rel="nofollow">
          <svg class="icon fa fa-facebook" role="img" width="20" height="20">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
</svg>

        </a>
        <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.liberation.fr%2Fsciences%2F2020%2F10%2F20%2Fle-chat-de-nazca-un-nouveau-geoglyphe-dans-le-desert-peruvien_1802905&amp;text=Le+chat+de+Nazca%2C+un+nouveau+g%C3%A9oglyphe+dans+le+d%C3%A9sert+p%C3%A9ruvien&amp;via=libe&amp;related=libe" class="js-share-twitter" rel="nofollow">
          <svg class="icon fa fa-twitter" role="img" width="20" height="20">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
</svg>

        </a>
      </div>
    </span>
                </figcaption>
            </figure>

            <h2 class="h-palatino">Les arch&eacute;ologues ont d&eacute;couvert sur le site de
                Nazca une silhouette de f&eacute;lin longue de 37 m&egrave;tres que l&#39;&eacute;rosion avait rendu
                presque invisible. Le dessin est &acirc;g&eacute; de plus de 2000 ans.</h2>

            <ul class="list-unstyled">
                <li>
                    <span class="share"><a class="fa fa-facebook"
                                                                   href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.liberation.fr%2Fsciences%2F2020%2F10%2F20%2Fle-chat-de-nazca-un-nouveau-geoglyphe-dans-le-desert-peruvien_1802905&amp;t=Le+chat+de+Nazca%2C+un+nouveau+g%C3%A9oglyphe+dans+le+d%C3%A9sert+p%C3%A9ruvien"
                                                                   rel="nofollow"> </a>  Le chat de Nazca, un nouveau g&eacute;oglyphe dans le d&eacute;sert p&eacute;ruvien </span>
                </li>
            </ul>

            <div>
                <p>Le plus c&eacute;l&egrave;bre est sans doute <a
                            href="https://commons.wikimedia.org/wiki/File:L%C3%ADneas_de_Nazca,_Nazca,_Per%C3%BA,_2015-07-29,_DD_49.JPG"
                            target="_blank">le singe&nbsp;</a>: vu du ciel, le primate filiforme &eacute;tale ses
                    longues pattes et sa queue en tourbillon sur 93 m&egrave;tres de long et 55&nbsp;m&egrave;tres de
                    large. Il y a aussi <a
                            href="https://en.wikipedia.org/wiki/File:L%C3%ADneas_de_Nazca,_Nazca,_Per%C3%BA,_2015-07-29,_DD_52.JPG"
                            target="_blank">le colibri</a>, tout g&eacute;om&eacute;trique avec ses plumes
                    perpendiculaires. Et puis <a href="https://commons.wikimedia.org/wiki/File:04-Nazca_Lines-nX-41.jpg"
                                                 target="_blank">un h&eacute;ron</a> au cou en zigzag, <a
                            href="https://en.wikipedia.org/wiki/File:L%C3%ADneas_de_Nazca,_Nazca,_Per%C3%BA,_2015-07-29,_DD_58.JPG"
                            target="_blank">un p&eacute;lican</a>, <a
                            href="https://commons.wikimedia.org/wiki/File:Nazca-lineas-perro-c01.jpg?uselang=fr"
                            target="_blank">un chien</a>, <a
                            href="https://commons.wikimedia.org/wiki/File:Nazca-lineas-arana-c01.jpg?uselang=fr"
                            target="_blank">une araign&eacute;e</a>, un <a
                            href="https://commons.wikimedia.org/wiki/File:Nazca-Linien_062016_condor_baby.jpg?uselang=fr"
                            target="_blank">b&eacute;b&eacute; condor</a> ou encore <a
                            href="https://commons.wikimedia.org/wiki/File:Nasca_Whale_2007_08.JPG?uselang=fr"
                            target="_blank">un cachalot</a>. Les g&eacute;oglyphes de Nazca, ces immenses figures trac&eacute;es
                    au sol dans le d&eacute;sert p&eacute;ruvien, forment tout un bestiaire&hellip; Auquel vient de s&rsquo;ajouter
                    aujourd&rsquo;hui un chat.</p>

                <p>Les arch&eacute;ologues l&rsquo;ont d&eacute;couvert un peu par hasard, &agrave; l&rsquo;occasion de
                    <em>&laquo;travaux pour am&eacute;liorer l&rsquo;acc&egrave;s &agrave; l&rsquo;une des collines qui
                        fournit un point de vue sur de nombreux g&eacute;oglyphes&raquo;</em>, rapporte le journal
                    britannique <a
                            href="https://www.theguardian.com/world/2020/oct/18/huge-cat-found-etched-desert-nazca-lines-peru"
                            target="_blank"><em>The Guardian</em></a>. D&eacute;ploy&eacute; sur le flanc de la colline,
                    le f&eacute;lin mesure pourtant 37&nbsp;m&egrave;tres de long. Mais ses traits &eacute;taient
                    presque effac&eacute;s, rendant l&rsquo;animal quasi invisible dans le paysage. Le dessin <em>&laquo;&eacute;tait
                        sur le point de dispara&icirc;tre car il est situ&eacute; sur une pente assez raide qui subit
                        les effets de l&rsquo;&eacute;rosion naturelle&raquo;</em>, <a
                            href="https://www.gob.pe/institucion/cultura/noticias/307390-ministerio-de-cultura-anuncia-descubrimiento-de-geoglifo-en-la-pampa-de-nasca"
                            target="_blank">explique le minist&egrave;re de la Culture p&eacute;ruvien</a>.</p>

                <div id="sas_76194">&nbsp;</div>

                <div id="teads1">&nbsp;</div>

                <h3 class="h-impact">Contraste de couleurs</h3>

                <p>Un minutieux travail entrepris la semaine derni&egrave;re a permis de lui redonner toute sa clart&eacute;,
                    et de r&eacute;v&eacute;ler <em>&laquo;une silhouette f&eacute;line avec un corps de profil et sa t&ecirc;te
                        de face&raquo;</em>. Impossible de le confondre avec un autre animal, celui-l&agrave;, avec ses
                    deux oreilles pointues bien pro&eacute;minentes.</p>

                <p>On estime que le chat de Nazca a &eacute;t&eacute; cr&eacute;&eacute; entre 200 et 100 ans avant
                    notre &egrave;re. Les artistes de l&rsquo;&eacute;poque ont trac&eacute; les g&eacute;oglyphes en
                    grattant la couche sup&eacute;rieure de cailloux qui recouvrent le sol de ce d&eacute;sert. Ils d&eacute;couvraient
                    ainsi le gypse gris clair qui se cache en dessous de la surface oxyd&eacute;e, rouge&acirc;tre. La
                    silhouette des animaux se d&eacute;coupe alors dans le sol par contraste de couleur. Dans le cas du
                    chat, l&rsquo;&eacute;paisseur des lignes &ndash; <em>&laquo;bien d&eacute;finies&raquo;</em>
                    &ndash; varie entre 30 et 40 centim&egrave;tres.</p>

                <p>Johny Isla, responsable p&eacute;ruvien de l&rsquo;&eacute;quipe d&rsquo;arch&eacute;ologues qui
                    travaille sur les g&eacute;oglyphes, s&rsquo;&eacute;tonne lui-m&ecirc;me de <em>&laquo;trouver
                        encore de nouveaux dessins&raquo;</em>, et sait pourtant <em>&laquo;qu&rsquo;il en reste d&rsquo;autres
                        &agrave; d&eacute;couvrir&raquo;</em>. Ces derni&egrave;res ann&eacute;es, l&rsquo;usage de
                    drones a permis de multiplier les photos a&eacute;riennes des flancs de collines. Entre 80 et 100
                    nouveaux dessins ont ainsi &eacute;merg&eacute; dans les vall&eacute;es de Nazca et de Palpa, au sud
                    du P&eacute;rou actuel.</p>

                <div id="teads2">&nbsp;</div>

                <p><img alt="Le condor et le singe du désert de Nazca." class="i_orig" data-responsive="1"
                        src="https://medias.liberation.fr/photo/1342249-1024px-lineas_de_nazca_nazca_peru_2015-07-29_dd_55.jpg?modified_at=1603185774&amp;width=750"
                        width="100%"/></p>

                <p class="note"><strong>Le condor et le singe du d&eacute;sert de Nazca.</strong> Photos Diego Delso, CC
                    BY SA</p>

                <h3 class="h-impact" >Comparer les motifs</h3>

                <p><em>&laquo;Ils sont plus petits en taille, dessin&eacute;s &agrave; flanc de colline&raquo;</em>, et
                    comptent <em>&laquo;clairement&raquo;</em> parmi les g&eacute;oglyphes les plus pr&eacute;coces que
                    l&rsquo;on connaisse. Johny Isla explique qu&rsquo;une des mani&egrave;res de dater les g&eacute;oglyphes
                    consiste &agrave; comparer leurs motifs &agrave; ceux trouv&eacute;s sur d&rsquo;autres supports
                    arch&eacute;ologiques. Les c&eacute;ramiques et tissus de la <a
                            href="https://fr.wikipedia.org/wiki/Civilisation_de_Paracas">culture paracas</a>, par
                    exemple, <em>&laquo;montrent des oiseaux, des chats et des personnes&raquo;</em> qui ressemblent
                    beaucoup au style du chat. Le f&eacute;lin semble donc provenir de la fin de la civilisation
                    paracas, qui a prosp&eacute;r&eacute; entre les ann&eacute;es -800 et -100 avant de se fondre dans
                    la culture nazca (qui, elle, a dur&eacute; jusqu&rsquo;&agrave; l&rsquo;an 600 au moins). <em>&laquo;Autrement
                        dit, il est ant&eacute;rieur aux animaux c&eacute;l&egrave;bres&raquo;</em> des lignes de Nazca.
                </p>

                <p>La colline du chat est surnomm&eacute;e le &laquo;belv&eacute;d&egrave;re naturel&raquo; par les arch&eacute;ologues,
                    pr&eacute;cise le minist&egrave;re de la Culture p&eacute;ruvien, car <em>&laquo;de nombreuses
                        lignes droites de largeur et de longueur diff&eacute;rentes (g&eacute;oglyphes) convergent
                        autour de lui, et peuvent &ecirc;tre vues du haut de la colline. Techniquement, il constitue l&rsquo;un
                        des plus grands centres de convergence de lignes de la r&eacute;gion de Nazca.&raquo;</em></p>
                <span class="authors"><span class="author"><a
                                href="https://www.liberation.fr/auteur/5153-camille-gevaudan">Camille G&eacute;vaudan </a> </span> </span>
            </div>
        </div>

    </div>

</article>
