<div class="site-section py-5">
    <div class="container">
        <div class="row col-12 mx-auto px-0">
            <div class="col-lg-6 col-12 mx-auto px-0 mb-3 mb-lg-0">
                <div class="position-relative">
                    <img src="/img/hermes/test/libre/1.jpg" alt="Image" class="img-fluid">
                    <div class="h-presentation h-transform-moins5050 d-none d-sm-block position-absolute fixed-bottom float-right h-bg-success rounded-circle h-w-40 h-h-40 h-font-size-13 text-white">
                        <span class="text-center position-absolute ">Une <span>formation <br>à votre service</span></span>
                    </div>
                </div>
            </div>
            <div class="d-block d-sm-none col-10 mx-auto py-5 mb-3 h-bg-success rounded-circle h-font-size-15 text-center text-white">
                <span class="text-center ">Une <span>formation <br>à votre service</span></span>
            </div>
            <div class="col-lg-5 ml-auto pl-lg-5 text-center">
                <h3 class="scissors text-center">Faites connaissance avec Oceano</h3>
                <p class="mb-5 lead">Un duo (guitare et saxophone) ou un trio (avec chanteuse ou contrebassiste) suffisent largement à créer une ambiance festive et chaleureuse. Nul besoin d’avoir de façon systématique un batteur, ou une clavier électrique.</p>
                <p><a href="{{ path('contact') }}" class="btn h-btn-outline-success h-rounded-lg-4">{{ 'formulaire.contact'|trans() }}</a></p>
            </div>
        </div>
    </div>
</div>