<!-- Team -->
<section id="team" >
    <div class="container col-lg-12" >
        <div class="row col-lg-12">
            <div class="col-lg-12 text-center">
                <h2 class="h-oswald mt-4 mb-3">Faites connaissance avec Oceano</h2>
                <h5 class="col-lg-10 mx-auto h-text-success mb-4">En duo, trio ou quartet, le groupe OCEANO propose un répertoire musical fait de standards de Jazz, de Bossa Nova et de chansons revisitées parfaitement adapté pour procurer une atmosphère festive et chaleureuse aux événements tels que cocktails et vins d’honneurs, dîners et soirées d’entreprise.</h5>
            </div>
        </div>
        <div class="row col-lg-12 text-center">
            <div class="col-sm-4 pb-3 ">
                <div>
                    <img class="w-100 mx-auto rounded-circle h-img-thumbnail" src="/img/hermes/test/libre/1.jpg"
                         alt="img1">
                    <h4 class="pt-3 pb-4 h-oswald">À la guitare</h4>
                </div>
                <p>Un duo (guitare et saxophone) ou un trio (avec chanteuse ou contrebassiste) suffisent largement à créer une ambiance festive et chaleureuse. Nul besoin d’avoir de façon systématique un batteur, ou une clavier électrique.</p>
            </div>
            <div class="col-sm-4 pb-3 ">
                <div>
                    <img class="w-100 mx-auto rounded-circle h-img-thumbnail" src="/img/hermes/test/libre/2.jpg"
                         alt="img2">
                    <h4 class="pt-3 pb-4 h-oswald">Au saxophone</h4>
                </div>
                <p> Le Jazz, musique universelle s’il en est permet d’adapter tous les styles de musiques. La ré-interprétation de grands standards apportera une touche d’élégance à votre événement.</p>
            </div>
            <div class="col-sm-4 pb-3">
                <div>
                    <img class="w-100 mx-auto rounded-circle h-img-thumbnail" src="/img/hermes/test/libre/3.jpg"
                         alt="img3">
                    <h4 class="pt-3 pb-4 h-oswald">Trio contrebasse</h4>
                </div>
                <p>Le vin d’honneur ou cocktail n’est pas le moment auquel on pense en premier dans
                    l’organisation de son mariage. Pourtant, il restera dans toues les mémoires. Il
                    est le moment où vos invités se rencontreront de façon moins formelle
                    que pendant la cérémonie. Le Jazz est parfait pour cette séquence de
                    votre mariage.</p>
            </div>
        </div>
    </div>
</section>
                    