<div class="row col-12 px-0 " style="font-family:'Bai Jamjuree', sans-serif;">
    <div class="col-lg-4">
        <p class="col-lg-3 col-xs-12 h-bg-success  text-center">Mariage</p>

        <h2 class="mt-4 mb-lg-5 mb-sm-0 pb-1" style="font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;">Le vin d&#39;honneur<br />
            une &eacute;tape importante</h2>

        <p class="pt-lg-5 pt-sm-0">Le Jazz, musique universelle s&rsquo;il en est permet d&rsquo;adapter tous les styles de musiques. La r&eacute;-interpr&eacute;tation de grands standards apportera une touche d&rsquo;&eacute;l&eacute;gance &agrave; votre &eacute;v&eacute;nement.</p>
    </div>

    <div class="row col-lg-8 col-xs-12 px-0">
        <div class="col-lg-4 text-center">
            <div><span><img alt="Icone Occasion3" class="img-thumbnail col-lg-11" src="/img/hermes/test/libre/10.jpg" /> </span></div>

            <div class="mt-5">
                <p class="bg-danger  rounded">MOMENT</p>

                <p>Le vin d&rsquo;honneur ou cocktail n&rsquo;est pas le moment auquel on pense en premier dans l&rsquo;organisation de son mariage. Pourtant, il restera dans toues les m&eacute;moires. Il est le moment o&ugrave; vos invit&eacute;s se rencontreront de fa&ccedil;on moins formelle que pendant la c&eacute;r&eacute;monie. Le Jazz est parfait pour cette s&eacute;quence de votre mariage.</p>
            </div>
        </div>

        <div class="col-lg-4 text-center">
            <div><span><img alt="Icone Occasion2" class="img-thumbnail col-lg-11" src="/img/hermes/test/libre/8.jpg" /> </span></div>

            <div class="mt-5">
                <p class="bg-dark text-danger rounded">PROFESSIONNEL</p>

                <p>Pourquoi prendre des musiciens de Jazz professionnels ?</p>

                <p>Par leur s&eacute;rieux, par leur expertise, par leur exp&eacute;rience de ces &eacute;venenements, des musiciens de jazz professionnels seront capables d&rsquo;animer le moment que vous souhaitez en toute autonomie, vous laissant libre de vous occuper de vos invit&eacute;s.</p>
            </div>
        </div>

        <div class="col-lg-4 text-center">
            <div><span><img alt="Icone Occasion1" class="img-thumbnail col-lg-11" src="/img/hermes/test/libre/3.jpg" /> </span></div>

            <div class="mt-5">
                <p class="bg-danger  rounded">&Eacute;L&Eacute;GANCE</p>

                <p>Avoir de vrais musiciens, en ce jour si particulier pour vous, marquera de fa&ccedil;on unique de cet &eacute;v&eacute;nement magnifique.</p>
            </div>
        </div>
    </div>
</div>