<div class="container text-left">
    <!-- exemple1 -->
    <div class="row"><h2>Exemple de présentation de gallerie à copier 1</h2>
        <button id="js-copy-gallerie1" class="js-copy-gallerie1 btn btn-icon ml-lg-5 " data-target="#tocopy-gallerie1">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-gallerie1">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gallery</h1>
        <hr class="mt-2 mb-5" />
        <div class="row text-center text-lg-center">
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" /> </a></div>
        <div class="col-lg-3 col-md-4 col-xs-12"><a class="d-block mb-4 h-100" href="#"><img alt="" class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" /> </a></div>
        </div>
    </span>
</div>

