<div class="container text-left">
    <!-- exemple1 -->
    <div class="row"><h2>Exemple de présentation de texte à copier 1</h2>
        <button id="js-copy-texte1" class="js-copy-texte1 btn btn-icon ml-lg-5 " data-target="#tocopy-texte1">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-texte1">
    <div class="row">
        <div class="col-5" style="color:#27ae60;font-family:Tahoma,Geneva,sans-serif">
            <p>Le texte à copier commence au premier mot qui suit le texte <u>"Exemple 1"</u>.</p>
            <p>Puis continuer, et ne vous arrêter qu'au dernier mot, le mot <u>"fin"</u>".</p>
            <p>Dans cet exemple, il y a deux blocs, l'un à gauche, qui se termine ici.</p>
        </div>
        <div class="col-7" style="color:#2c3e50">
            <p>Nous commençons ici le bloc de droite qui contient 3 lignes, comme le bloc de gauche.</p>
            <p>La deuxième ligne est courte, mais vous pourrez la modifier.</p>
            <p>Cette 3ème et dernière ligne du bloc de droite se termine comme convenu par le mot <u>fin</u></p>
        </div>
    </div>
    </span>
    <!-- exemple2 -->
    <div class="row"><h2>Exemple de présentation de texte à copier 2</h2>
        <button id="js-copy-texte2" class="js-copy-texte2 btn btn-icon ml-lg-5 " data-target="#tocopy-texte2">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-texte2">
     <div class="row" style="color:#2c3e50">
        <div class="col-7" style="color:#27ae60">
            <p>Le texte à copier commence au premier mot qui suit le texte <u>"Exemple 2"</u>.</p>
            <p>Puis continuer, et ne vous arrêter qu'au dernier mot, le mot <u>"fin"</u>".</p>
            <p>Dans cet exemple, il y a deux blocs, l'un à gauche, qui se termine ici.</p>
        </div>
        <div class="col-5">
            <p><span style="color:#2c3e50">Nous commençons ici le bloc de droite qui contient 3 lignes, comme le bloc de gauche.</p>
            <p><span style="color:#2c3e50">La deuxième ligne est courte, mais vous pourrez la modifier.</p>
            <p><span style="color:#2c3e50">Cette 3ème et dernière ligne du bloc de droite se termine comme convenu par le mot <u>fin</u></p>
        </div>
    </div>
    </span>

    <!-- exemple3 -->
    <div class="row"><h2>Exemple de présentation de texte à copier 3</h2>
        <button id="js-copy-texte3" class="js-copy-texte3 btn btn-icon ml-lg-5 " data-target="#tocopy-texte3">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-texte3">
        <div class="row">
            <div class="col-lg-4 col-12"  style="color:#27ae60">
                <p>Le texte à copier commence au premier mot qui suit le texte <u>"Exemple 3"</u>.</p>
                <p>Puis continuer, et ne vous arrêter qu'au dernier mot, le mot <u>"fin"</u>".</p>
                <p>Dans cet exemple, il y a 3 blocs, lepremier à gauche, qui se termine ici.</p>
            </div>
            <div class="row col-lg-8 col-12" style="color:#2c3e50">
                <div class="col-6">
                    <p>Nous commençons ici le 2ème bloc qui contient 3 lignes, comme le bloc de gauche.</p>
                    <p>La deuxième ligne est courte, mais vous pourrez la modifier.</p>
                    <p>Dernière ligne du 2ème bloc.</p>
                </div>
                <div class="col-lg-6 col-12" style="color:#2c3e50">
                    <p>Nous commençons ici le bloc de droite qui contient 3 lignes, comme le bloc de gauche.</p>
                    <p>La deuxième ligne est courte, mais vous pourrez la modifier.</p>
                    <p>Cette 3ème et dernière ligne du bloc de droite se termine comme convenu par le mot <u>fin</u></p>
                </div>
            </div>
        </div>
    </span>

    <!-- exemple4 -->
    <div class="row"><h2>Exemple de présentation de texte à copier 4</h2>
        <button id="js-copy-texte4" class="js-copy-texte4 btn btn-icon ml-lg-5 " data-target="#tocopy-texte4">{{ 'global.copy'|trans()|raw }}</button>
    </div>
    <span id="tocopy-texte4">
        <div class="mx-auto col-lg-12 col-12 text-center" style="word-break: break-word; font-family: 'The Antiqua B', Georgia, Droid-serif, serif;color:#ffffff;">
            <img class="mx-auto img-fluid" src="/data/uploads/content/Exemple1/californie.jpeg" style="height: 400px; width: 800px;" />
            <h1 style="word-break: break-word; text-align: center; font-family:&quot;Marr Sans Condensed&quot;, DINCondensed-Bold, &quot;Roboto Condensed&quot;, &quot;Arial Narrow&quot;, sans-serif;"><span style="font-size:48px;"><strong>Ru&eacute;e vers l&rsquo;or&nbsp;: San Francisco, le Paris du Pacifique</strong></span></h1>

            <p style="text-align: center;"><span class="meta__authors">Par <a class="article__author-link" href="https://www.lemonde.fr/series-d-ete/article/2020/07/21/ruee-vers-l-or-san-francisco-le-paris-du-pacifique_6046786_3451060.html">Corine Lesnes</a> </span></p>

            <p class="meta__publisher" style="text-align: center;">Article original : <a href="https://www.lemonde.fr/series-d-ete/article/2020/07/21/ruee-vers-l-or-san-francisco-le-paris-du-pacifique_6046786_3451060.html" target="_blank">Ru&eacute;e vers l&rsquo;or : San Francisco, le Paris du Pacifique</a></p>

            <section class="pl-0 pr-0 col-lg-6 col-12 mx-auto" style="font-family: The Antiqua B">
            <p class="article__desc"><span style="font-size:20px;"><span class="article__kicker">Enqu&ecirc;te</span>&laquo;&nbsp;<strong>La Californie, une histoire fran&ccedil;aise&nbsp;&raquo; (2/6). Entre 1849 et 1853, la fi&egrave;vre de l&rsquo;or attire 30&nbsp;000 Fran&ccedil;ais dans la ville, qui devient la plus cosmopolite du monde. Bruyants, fiers-&agrave;-bras, durs &agrave; la t&acirc;che, ils cr&eacute;ent des journaux, un th&eacute;&acirc;tre, la premi&egrave;re brigade de sapeurs-pompiers, un h&ocirc;pital mutualiste&hellip;</strong></span></p>
            </section>

            <section class="pl-0 pr-0 col-lg-6 col-12 mx-auto  text-justify">
            <p><span style="font-size:20px;">L&rsquo;or&nbsp;? Les Fran&ccedil;ais n&rsquo;y ont pas cru tout de suite. Un vieux fond de scepticisme national. En&nbsp;1848, on se m&eacute;fie des Am&eacute;ricains, &agrave; peine moins qu&rsquo;aujourd&rsquo;hui. Sans doute cherchent-ils &agrave; peupler ces territoires de l&rsquo;Ouest, ces immensit&eacute;s d&eacute;sertes maintenant qu&rsquo;ils les ont annex&eacute;es. A Paris, on prend de haut ces Anglo-Saxons du Nouveau Monde, toujours pr&ecirc;ts &agrave; faire mousser leurs r&eacute;alisations. A vous enfumer avec leur <em>&laquo;<em>&nbsp;puff&nbsp;</em>&raquo;</em>, comme disent les journaux deux si&egrave;cles avant les &laquo;&nbsp;fake news&nbsp;&raquo;&hellip;</span></p>

            <p><span style="font-size:20px;">Mais tout change le 5&nbsp;d&eacute;cembre&nbsp;1848, quand le pr&eacute;sident des Etats-Unis, James Polk, mentionne la d&eacute;couverte d&rsquo;or dans son discours sur l&rsquo;&eacute;tat de l&rsquo;Union. Une annonce tr&egrave;s politique&nbsp;: il entend montrer &agrave; l&rsquo;opposition, qui ne cesse de ren&acirc;cler devant les d&eacute;penses entra&icirc;n&eacute;es par la conqu&ecirc;te de l&rsquo;Ouest &ndash; et notamment les 15&nbsp;millions de dollars vers&eacute;s au Mexique pour l&rsquo;achat de la Californie &ndash; que l&rsquo;investissement a &eacute;t&eacute; judicieux. Coup de chance, encore un, de ceux qui confortent les Am&eacute;ricains dans l&rsquo;id&eacute;e qu&rsquo;ils accomplissent un destin providentiel&nbsp;: le trait&eacute; de Guadalupe Hidalgo entre les deux pays a &eacute;t&eacute; sign&eacute; le 2&nbsp;f&eacute;vrier&nbsp;1848, dix jours apr&egrave;s la d&eacute;couverte de l&rsquo;or, le 24&nbsp;janvier. Heureusement aucun fil Twitter n&rsquo;a inform&eacute; les Mexicains que la Californie rec&egrave;le des richesses insoup&ccedil;onn&eacute;es&hellip;</span></p>

            <p><span style="font-size:20px;">Paris commence &agrave; y croire. La province aussi. Et bient&ocirc;t, c&rsquo;est toute la France qui est saisie de Californiamania. Les journaux publient des r&eacute;cits de voyage qui relatent des aventures fabuleuses au pays de l&rsquo;or (et des crocodiles, croit savoir la presse). Dans les th&eacute;&acirc;tres parisiens, on joue des pi&egrave;ces mont&eacute;es &agrave; la va-vite&nbsp;: <em>Train du plaisir pour la Californie, Les Chercheuses d&rsquo;or</em>&hellip; La France fantasme. La France veut de l&rsquo;or, du mouvement, du changement. Le 24&nbsp;f&eacute;vrier&nbsp;1848, Louis-Philippe a &eacute;t&eacute; chass&eacute; du tr&ocirc;ne et la II<sup>e</sup>&nbsp;R&eacute;publique proclam&eacute;e dans la liesse. Depuis, c&rsquo;est le marasme. Le vent de libert&eacute; est retomb&eacute;.</span></p>
            </section>
        </div>

    </span>
</div>

