doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                # configure these for your database server
                driver: 'pdo_sqlite'
                server_version: '3.15'
                url: '%env(resolve:DATABASE_URL)%'
            config:
                # configure these for your database server
                driver: 'pdo_sqlite'
                server_version: '3.15'
                url: '%env(resolve:DATABASE_CONFIG_URL)%'

    orm:
        auto_generate_proxy_classes: true
#        naming_strategy: doctrine.orm.naming_strategy.underscore
#        auto_mapping: true
#        mappings:
#            App:
#                is_bundle: false
#                type: annotation
#                dir: '%kernel.project_dir%/src/Entity'
#                prefix: 'App\Entity'
#                alias: App
        default_entity_manager: default
        entity_managers:
            default:
                connection: default
                naming_strategy: doctrine.orm.naming_strategy.underscore
                mappings:
                    App:
                        is_bundle: false
                        type: attribute
                        dir: '%kernel.project_dir%/src/Entity/Hermes'
                        prefix: 'App\Entity\Hermes'
                        alias: App
            config:
                connection: config
                naming_strategy: doctrine.orm.naming_strategy.underscore
                mappings:
                    Config:
                        is_bundle: false
                        type: attribute
                        dir: '%kernel.project_dir%/src/Entity/Config'
                        prefix: 'App\Entity\Config'
                        alias: Config
