<div id="about" class="about-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <h2 class="block-title"> Concept </h2>
                    <h3>La « Street Food » Indienne et Sri Lankaise à base d'épices de qualité, de produits frais et locaux.</h3>

                    <p>Passionné de la cuisine Indo Srilankaise mais aussi celle du monde à travers ses nombreux
                        voyages, Anoj Sivanesan crée un art culinaire «&nbsp;Fusion&nbsp;» à l’image de la culture de rue haute
                        en couleurs.
                    </p>

                    <p>Ayant grandi en regardant son père d’origine Tamoul concocter de savoureux plats, il a très
                        tôt développé le goût de cuisiner. De plus la découverte de la street food indienne l’a poussé à
                        se former au restaurant «&nbsp;Le Palais de Krishnaa&nbsp;» à Paris 13 ème . C’est dans cette expérience
                        personnelle qu’il a puisé l’inspiration pour créer Bolly Street.
                    </p>

                    <p>Anoj vous accueille dans son Food truck avec une cuisine authentique, colorée et créative,
                        produits frais, locaux et sains&nbsp;: telle est la recette de Bolly Street pour une incroyable
                        immersion le temps d’un repas.
                    </p>

                    <p>Biryanis, Kottu Roti, grillades Tandoori Jaffna ou Tikka, Burgers ou même Poutines
                        Quebecoises revisitées&nbsp;!! Retrouvez les parfums, saveurs et odeurs qui se dégagent des petites
                        échoppes de street food traditionnelles.
                    </p>

                    <p>Bolly Street c’est une invitation au voyage, une immersion au plein coeur des rues de l’Inde et
                        du Srilanka.
                    </p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <div class="about-images">
                        <img class="about-main" src="images/bollystreet/about/about-main.png" alt="Concept Bolly Street">
                        <img class="about-inset" src="images/bollystreet/about/about-inset.png" alt="Concept Bolly Street">
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>