<div id="banner" class="banner full-screen-mode parallax"
     style="background-image: url('images/bollystreet/bg/bolly-street-background-homepage.png'); background-position: center 0px;height: 100vh;min-height: 100%;">
    <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">
                        <h1 class="text-secondary">Bolly Street  <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="Foodtruck:Indien:Sri Lankais" data-colors="red" style="color: red;">Indien</span><span class="cursor" data-cursordisplay="_" data-owner="some-id" style="transition: all 0.1s ease 0s; opacity: 0;">_</span></h1>
                        <h2>La « street food » aux saveurs Indiennes et Sri Lankaises</h2>

                        <div class="book-btn">
                            <a href="#pricing" class="table-btn hvr-underline-from-center">Où nous trouver ?</a>
                        </div>
                        <a href="#about">
                            <div class="mouse"></div>
                        </a>
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
</div>