<div id="site-header " class ="bg-dark">
    <header id="header" class="header-block-top shadow-none">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <!-- navbar -->
                    <nav class="navbar navbar-expand-lg navbar-default position-fixed pt-0" id="mainNav">
{#                        <div class="navbar-header">#}
{#                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
{#                                <span class="sr-only">Toggle navigation</span>#}
{#                                <span class="icon-bar"></span>#}
{#                                <span class="icon-bar"></span>#}
{#                                <span class="icon-bar"></span>#}
{#                            </button>#}
{#                            <div class="logo">#}
                                <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                    <img src="images/bollystreet/logo/logo-bollystreet.png" alt="logo Restaurant Indien et Sri Lankais Foodtruck Bollystreet">
                                </a>
{#                            </div>#}
                            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" id="react-toggler-icon" type="button">
                            </button>
{#                        </div>#}
                        <div id="navbar" class="navbar-collapse collapsed ">
                            <ul class="nav navbar-nav navbar-right flex-row">
                                <li class="text-dark nav-item active"><a class="js-scroll-trigger" href="#banner">Accueil</a></li>
                                <li class="text-dark nav-item" ><a class="js-scroll-trigger" href="#about">Concept</a></li>
                                <li class="text-dark nav-item"><a class="js-scroll-trigger" href="#menu">Menu</a></li>
                                <!-- <li><a href="#our_team">Team</a></li> -->
                                <li class="text-dark nav-item"><a class="js-scroll-trigger" href="#gallery">Galerie</a></li>
                                <li class="text-dark nav-item"><a class="js-scroll-trigger" href="#blog">Producteurs et partenaires</a></li>
                                <li class="text-dark nav-item"><a class="js-scroll-trigger" class="js-scroll-trigger" href="#pricing">Où nous trouver ?</a></li>
                                <li class="text-dark nav-item"><a class="js-scroll-trigger" href="#reservation">Contact</a></li>
                            </ul>
                        </div>
                        <!-- end nav-collapse -->
                    </nav>
                    <!-- end navbar -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </header>
    <!-- end header -->
</div>