<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ 'order.delivery'|trans() }}</title>
        {{ encore_entry_link_tags('hermes_front') }}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1> {{ 'order.label'|trans() }}</h1>
                    {% include 'front/base/ecommerce/order/table.html.twig' %}
                </div>
            </div>
        </div>
    </body>
</html>