<div id="react-delivery-free"
     class="col-lg-12 mx-auto mt-3 text-center"
     data-delivery-free="{{ delivery.free ?? '0' }}"
     data-delivery-free-message="{{ 'delivery.free'|trans()}}"
     data-delivery-free-limit="{{ (ecommerce_delivery_free_amount/100) }}"
     data-delivery-free-from="{{ 'delivery.free_limit'|trans() ~ (ecommerce_delivery_free_amount/100)|format_currency(app.user.currency ?? 'EUR')  }}"
>
</div>