{% extends 'front/base/' ~ directory ~'/base.html.twig' %}
{% block title %}{{ 'order.label'|trans() }}{% endblock %}
{% block content %}
    <div class="nav-space-checkout">
        <div class="container">
            {% for message in app.flashes('warning') %}
                <div class="mt-5 alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message|raw }}
                </div>
            {% endfor %}
            {% include 'front/base/ecommerce/breadcrumb.html.twig' with {'breadcrumb': 'order.label'|trans()} %}
            {% include 'front/base/ecommerce/order/table.html.twig' %}
        </div>
    </div>
{% endblock %}
