<div class="container row col-12 col-lg-6 mx-auto px-1 text-dark" style="background-image: url('/data/modele2/uploads/content/Portrait/fond.jpg');background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="col-lg-10 mr-auto px-lg-5 text-left mb-3">
        <h3 class="scissors text-center h-oswald mt-3">PORTRAIT</h3>

        <p>Depuis son plus jeune age, Mathieu Ponz collectionne les pierres.</p>

        <p>Il voue une affection toute particuli&egrave;re &agrave; ces merveilles de la nature.</p>

        <p>Tout naturellement, il se destine &agrave; la gemmologie.</p>

        <div class="text-left pb-3 col-12 col-lg-12 mx-auto px-0 " style="font-size: 0.875em;">
            <p class="col-12 col-lg-12 px-0"><img alt="" class="h-w-20 h-h-40 h-rounded-lg-3 float-left mr-2 " src="/data/modele2/uploads/content/Portrait/Mathieu1.jpg" /> Au sein du prestigieux Institut National de Gemmologie de paris (ING) ainsi qu&#39;&agrave; l&#39;Asian Institut Of Gemmological Sciences de Bangkok (AIGS), il &eacute;tudie le diamant et les pierres pr&eacute;cieuses.</p>

            <p class="col-lg-12 col-12 my-1 mt-5 px-0">Diplom&eacute;, l&#39;aventure commence.</p>
        </div>

        <div class="text-left pb-3 col-12 col-lg-12 mx-auto px-0 mt-4 text-white" style="font-size: 0.875em;">
            <p class="col-12 col-lg-12 px-0"><img alt="" class="h-w-20 h-h-40 h-rounded-lg-3 float-right mr-2 " src="/data/modele2/uploads/content/Portrait/Mathieu2.jpg" style="width: 95px; height: 124px;" /> En v&eacute;ritable globe-trotter, Mathieu parcourt le monde &agrave; la recherche des plus belles gemmes.<br />
                L&#39;afrique, l&#39;Asie ou encore l&#39;Am&eacute;rique latine lui offrent ses joyaux.<br />
                C&#39;est au coeur des mines qu&#39;il se d&eacute;place pour d&eacute;nicher des mati&egrave;res rarissimes qui deviendront des gemmes d&#39;exception.</p>

            <p class="col-lg-12 col-12 my-1 mt-5">&quot;Chaque pierre est unique, elle a sa propre identit&eacute;, son propre caract&egrave;re&quot;.</p>
        </div>
    </div>

    <div class="col-lg-12 mx-auto px-0 ">
        <p class="mt-5 text-center"><a class="btn h-btn-outline-success h-rounded-lg-4" href="{{ path(constant('App\\Entity\\Interfaces\\ContactInterface::CONTACT')) }}">Contact</a></p>
    </div>
</div>