<div class="row col-12 pt-lg-5 pt-1 pb-lg-5 pb-2">
    <div class="col-12 col-md-7">
        <div class="col-12 col-lg-8 pt-1 pt-md-3 pb-2 pb-md-3"><img class="img-fluid col-12" src="/img/hermes/YOM/img1.jpg" /></div>

        <div>
            <p class="text-justify">YOM Eternal Odyssey Yom : clarinettes, composition Fr&eacute;d&eacute;ric Deville : Violoncelle R&eacute;gis Huby : violon L&#39;insatiable Yom cr&eacute;e un nouveau trio au lyrisme &agrave; fleur de peau et au son tout acoustique, pour d&eacute;clencher plaisir, &eacute;motion, ferveur, lyrisme, et transe... Apr&egrave;s dix ans intenses emplis de nombreuses cr&eacute;ations en tout genre (du klezmer traditionnel &agrave; l&#39;&eacute;lectro-rock, en passant par les rencontres les plus inattendues), Yom se lance dans l&#39;aventure du trio avec deux musiciens exceptionnels : Fr&eacute;deric Deville au violoncelle et R&eacute;gis Huby au violon. Pi&egrave;ce inspir&eacute;e de l&rsquo;Odyss&eacute;e d&rsquo;Ulysse bien-s&ucirc;r, mais aussi de celle plus actuelle et anonyme de milliers d&rsquo;&ecirc;tres humains quittant leur foyer pour un Eldorado presque inatteignable, &laquo; Eternal Odyssey &raquo; est une travers&eacute;e, une &eacute;pop&eacute;e, une aventure &agrave; vivre en concert sur les territoires spirituels de la transe sous toutes ses formes, du mysticisme &agrave; la ferveur, passant d&rsquo;ambiances orientalisantes hypnotiques &agrave; des rythmiques inlassablement r&eacute;p&eacute;titives, dans une composition originale ininterrompue qui nous emm&egrave;ne, par le frottement des cordes m&ecirc;l&eacute;es et l&rsquo;harmonie de ce magnifique combo, jusqu&rsquo;&agrave; la symphonie. Au del&agrave; de la performance physique et de la virtuosit&eacute; exceptionnelle du trio, ce spectacle se vit comme une exploration d&rsquo;un au-del&agrave; magique, ouverture des portes de la perception pour un voyage int&eacute;rieur dans l&#39;univers mouvement&eacute; de Yom.</p>

            <p class="fst-italic">Production : Plan&egrave;tes Rouges - Co-production : Banlieues Bleues Yom est soutenu par la Direction r&eacute;gionale des Affaires culturelles d&rsquo;&Icirc;le-de-France &ndash; Minist&egrave;re de la Culture et de la Communication.</p>
        </div>
    </div>

    <div class="pt-1 pt-md-3 col-12 col-md-5">
        <div class="embed-responsive"><iframe allowfullscreen="allowfullscreen" class="embed-responsive-item pull-right pb-md-5 pb-3 col-12 col-lg-8" src="http://www.youtube.com/embed/iIQdQkS97ks"></iframe></div>

        <div class="embed-responsive"><iframe allowfullscreen="allowfullscreen" class="embed-responsive-item pull-right pb-md-5 pb-3 col-12 col-lg-8" src="http://www.youtube.com/embed/wRpMMGDf8oc"></iframe></div>

        <div class="embed-responsive"><iframe allowfullscreen="allowfullscreen" class="embed-responsive-item pull-right pb-md-5 pb-3 col-12 col-lg-8" src="http://www.youtube.com/embed/R-Hg_-UjJyc"></iframe></div>
    </div>
</div>
