<div class="row pt-md-4 pt-1 pb-1 pb-md-4">

    <div class="row mx-auto col-md-4">
        <img class="img-fluid" src="/img/hermes/YOMDiscographie/priere.jpg"/>
        <h5><a class="text-decoration-none text-dark" href="#">PRIERE</a></h5>
        <p>2018 <span class="px-2 px-md-5">Buda Musique/Socadisc</span> </p>
    </div>

    <div class="row mx-auto col-md-4">
        <img class="img-fluid" src="/img/hermes/YOMDiscographie/cover.png"/>
        <h5><a class="text-decoration-none text-dark" href="#">YOM BY YOM</a></h5>
        <p>2018 <span class="px-2 px-md-5"> Buda Musique/Socadisc</span></p>
    </div>

    <div class="row mx-auto col-md-4">
        <img class="img-fluid" src="/img/hermes/YOMDiscographie/old-man.jpg"/>
        <h5><a class="text-decoration-none text-dark" href="#">SONGS FOR THE OLD MAN</a></h5>
        <p>2016 <span class="px-2 px-md-5"> Buda Musique/Socadisc</span></p>
    </div>

    <div class="row mx-auto col-md-4">
        <img class="img-fluid" src="/img/hermes/YOMDiscographie/silence.jpg"/>
        <h5><a class="text-decoration-none text-dark" href="#">LE SILENCE DE L&#39;EXODE</a></h5>
        <p>2014 <span class="px-2 px-md-5"> Buda Musique/Socadisc</span></p>
    </div>

    <div class="row mx-auto col-md-4">
        <img class="img-fluid" src="/img/hermes/YOMDiscographie/empire.jpg"/>
        <h5><a class="text-decoration-none text-dark" href="#">THE EMPIRE OF LOVE</a></h5>
        <p>2013 <span class="px-2 px-md-5"> Jazz Village/Harmonia Mundi</span></p>
    </div>

    <div class="row mx-auto col-md-4">
        <img class="img-fluid" src="/img/hermes/YOMDiscographie/green.jpg"/>
        <h5><a class="text-decoration-none text-dark" href="#">Yom &amp; Wang Li, &quot;Green Apocalypse&quot;</a></h5>
        <p>2012 <span class="px-2 px-md-5"> Buda Musique/Socadisc</span></p>
    </div>

    <div class="row mx-auto col-md-4">
        <img class="img-fluid" src="/img/hermes/YOMDiscographie/wonder.jpg"/>
        <h5><a class="text-decoration-none text-dark" href="#">Yom &amp; the Wonder Rabbis, &quot;With Love&quot;</a></h5>
        <p>2011 <span class="px-2 px-md-5"> Buda Musique/Socadisc</span></p>
    </div>

    <div class="row mx-auto col-md-4">
        <img class="img-fluid" src="/img/hermes/YOMDiscographie/unue.jpg"/>
        <h5><a class="text-decoration-none text-dark" href="#">&#39;UNUE&#39;</a></h5>
        <p>2009 <span class="px-2 px-md-5"> Buda Musique/Socadisc</span></p>
    </div>

    <div class="row mx-auto col-md-4"><img class="img-fluid" src="/img/hermes/YOMDiscographie/king.jpg"/>
        <h5><a class="text-decoration-none text-dark" href="#">&quot;New King of Klezmer Clarinet&quot; (A tribute to Naftule Brandwein)</a></h5>
        <p> <span class="px-2 px-md-5">2008  Buda Musique/Socadisc</span></p>
    </div>

</div>
