<div class="container-fluid">
    <div class="carousel-item active">
        <img alt="..." class="d-block w-100 vh-100" src="/img/hermes/documentation/image1.jpg"/>
        <div class="carousel-caption row h-100 mx-0 align-items-center justify-content-center text-center">
            <div class="col-lg-5">
                <h1 class="text-white font-weight-bold">Gr&acirc;ce &agrave; HERMES, r&eacute;alisez votre site web en
                    toute autonomie</h1>

                <div class="border-white border-bottom border-3 col-2 mt-2 mb-2 mx-auto">&nbsp;</div>

                <p class="text-white text-center h5">Hermes est un syst&egrave;me de gestion de contenu open
                    source.<br/>
                    Il va vous permettre de cr&eacute;er vos pages web en utilisant des templates propos&eacute;s.<br/>
                    Vous pouvez aussi partir d&#39;une page blanche.</p>
                <a class="btn btn-primary btn-xl mt-2 mt-md-5" href="#about">Commen&ccedil;ons</a>
            </div>
        </div>
    </div>
</div>
