{% apply inky_to_html|inline_css(source( '@inline/foundation-emails.css'),source( '@inline/emails.css')) %}
<!doctype html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Email Contact">
    <meta name="author" content="CMS Hermes">
</head>


{#    <body class="iframe">#}
    <body>
        {% block body %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}

    {% block footer %}
        {% include 'front/base/footer.html.twig' %}
    {% endblock footer %}
    </body>
</html>
{% endapply %}
