<!-- Fonctionnalites-->
<div class="container-fluid px-4 px-lg-5">
<div class="row">
<div class="col-md-4 text-center">
<div class="mt-5">
<div class="mb-2"><img class="col-2" src="/img/hermes/documentation/image8.png"></div>

<h3 class="h4 mb-2 text-dark">Modèle Libre</h3>

<p class="text-muted text-dark">Ce modèle est disposé en deux parties; d'une part Hermes vous propose des templates pré-conçus que vous pouvez modifier et utiliser pour votre site web; d'autre part vous avez la possibilité de bâtir votre site web du debut à la fin.</p>
</div>
</div>

<div class="col-md-4 text-center">
<div class="mt-5">
<div class="mb-2"><img class="col-2" src="/img/hermes/documentation/image10.jpg"></div>

<h3 class="h4 mb-2 text-dark">Modèle Liste</h3>

<p class="text-muted">Grâce à ce modèle, construisez votre site avec des templates mises à votre disposition.</p>
</div>
</div>

<div class="col-md-4 text-center">
<div class="mt-5">
<div class="mb-2"><img class="col-2" src="/img/hermes/documentation/image9.png"></div>

<h3 class="h4 mb-2 text-dark">La configuration</h3>

<p class="text-muted text-dark">Elle est faite pour la personnalisation du site web; l'ajout des images, le changement de couleur, de police, de taille d'affichage.</p>
</div>
</div>
</div>
</div>
