<div class="row pt-1 pt-md-3">
<div>
<h1 class="text-danger fw-bold">Arch&eacute;ologie</h1>
</div>

<div>
<h1 class="fw-bold">Le chat de Nazca, un nouveau g&eacute;oglyphe dans le d&eacute;sert p&eacute;ruvien</h1>
</div>

<div>
<p>Les arch&eacute;ologues ont d&eacute;couvert sur le site de Nazca une silhouette de f&eacute;lin longue de 37 m&egrave;tres que l&#39;&eacute;rosion avait rendu presque invisible. Le dessin est &acirc;g&eacute; de plus de 2000 ans.</p>
</div>

<figure class="figure pb-md-2 pb-1 mx-auto d-block w-100 col-12 col-lg-10"><img alt="..." class="figure-img img-fluid w-100" src="/img/hermes/chatNazca/chat.jpg" />
<figcaption class="figure-caption">Une silhouette de chat longue de 37 m&egrave;tres a &eacute;t&eacute; mise au jour sur une colline servant de point de vue naturel, dans le d&eacute;sert de Nazca. (Photo Minist&egrave;re de la Culture p&eacute;ruvien)</figcaption>
</figure>

<p>Le plus c&eacute;l&egrave;bre est sans doute <a class="text-danger text-decoration-none" href="https://commons.wikimedia.org/wiki/File:L%C3%ADneas_de_Nazca,_Nazca,_Per%C3%BA,_2015-07-29,_DD_49.JPG" target="_blank">le singe</a> : vu du ciel, le primate filiforme &eacute;tale ses longues pattes et sa queue en tourbillon sur 93 m&egrave;tres de long et 55 m&egrave;tres de large. Il y a aussi <a class="text-decoration-none text-danger" href="https://en.wikipedia.org/wiki/File:L%C3%ADneas_de_Nazca,_Nazca,_Per%C3%BA,_2015-07-29,_DD_52.JPG" target="_blank">le colibri</a>, tout g&eacute;om&eacute;trique avec ses plumes perpendiculaires. Et puis <a class="text-decoration-none text-danger" href="https://commons.wikimedia.org/wiki/File:04-Nazca_Lines-nX-41.jpg" target="_blank">un h&eacute;ron</a> au cou en zigzag, <a class="text-decoration-none text-danger" href="https://en.wikipedia.org/wiki/File:L%C3%ADneas_de_Nazca,_Nazca,_Per%C3%BA,_2015-07-29,_DD_58.JPG" target="_blank">un p&eacute;lican</a>, <a class="text-decoration-none text-danger" href="https://commons.wikimedia.org/wiki/File:Nazca-lineas-perro-c01.jpg?uselang=fr" target="_blank">un chien</a>, <a class="text-decoration-none text-danger" href="https://commons.wikimedia.org/wiki/File:Nazca-lineas-arana-c01.jpg?uselang=fr" target="_blank">une araign&eacute;e</a>, <a class="text-decoration-none text-danger" href="https://commons.wikimedia.org/wiki/File:Nazca-Linien_062016_condor_baby.jpg?uselang=fr" target="_blank">b&eacute;b&eacute; condor</a> ou encore <a class="text-decoration-none text-danger" href="https://commons.wikimedia.org/wiki/File:Nasca_Whale_2007_08.JPG?uselang=fr" target="_blank">un cachalot</a>. Les g&eacute;oglyphes de Nazca, ces immenses figures trac&eacute;es au sol dans le d&eacute;sert p&eacute;ruvien, forment tout un bestiaire&hellip; Auquel vient de s&#39;ajouter aujourd&#39;hui un chat.</p>

<p>Les arch&eacute;ologues l&#39;ont d&eacute;couvert un peu par hasard, &agrave; l&#39;occasion de &laquo;travaux pour am&eacute;liorer l&#39;acc&egrave;s &agrave; l&#39;une des collines qui fournit un point de vue sur de nombreux g&eacute;oglyphes&raquo;, rapporte le journal britannique The Guardian. D&eacute;ploy&eacute; sur le flanc de la colline, le f&eacute;lin mesure pourtant 37 m&egrave;tres de long. Mais ses traits &eacute;taient presque effac&eacute;s, rendant l&#39;animal quasi invisible dans le paysage. Le dessin &laquo;&eacute;tait sur le point de dispara&icirc;tre car il est situ&eacute; sur une pente assez raide qui subit les effets de l&#39;&eacute;rosion naturelle&raquo;, <a class="text-decoration-none text-danger" href="https://www.gob.pe/institucion/cultura/noticias/307390-ministerio-de-cultura-anuncia-descubrimiento-de-geoglifo-en-la-pampa-de-nasca" target="_blank">explique le minist&egrave;re de la Culture p&eacute;ruvien</a>.</p>

<h2 class="fw-bold">Contraste de couleurs</h2>

<p>Un minutieux travail entrepris la semaine derni&egrave;re a permis de lui redonner toute sa clart&eacute;, et de r&eacute;v&eacute;ler &laquo;une silhouette f&eacute;line avec un corps de profil et sa t&ecirc;te de face&raquo;. Impossible de le confondre avec un autre animal, celui-l&agrave;, avec ses deux oreilles pointues bien pro&eacute;minentes.</p>

<p>On estime que le chat de Nazca a &eacute;t&eacute; cr&eacute;&eacute; entre 200 et 100 ans avant notre &egrave;re. Les artistes de l&#39;&eacute;poque ont trac&eacute; les g&eacute;oglyphes en grattant la couche sup&eacute;rieure de cailloux qui recouvrent le sol de ce d&eacute;sert. Ils d&eacute;couvraient ainsi le gypse gris clair qui se cache en dessous de la surface oxyd&eacute;e, rouge&acirc;tre. La silhouette des animaux se d&eacute;coupe alors dans le sol par contraste de couleur. Dans le cas du chat, l&#39;&eacute;paisseur des lignes &ndash; &laquo;bien d&eacute;finies&raquo; &ndash; varie entre 30 et 40 centim&egrave;tres.</p>

<p>Johny Isla, responsable p&eacute;ruvien de l&#39;&eacute;quipe d&#39;arch&eacute;ologues qui travaille sur les g&eacute;oglyphes, s&#39;&eacute;tonne lui-m&ecirc;me de &laquo;trouver encore de nouveaux dessins&raquo;, et sait pourtant &laquo;qu&#39;il en reste d&#39;autres &agrave; d&eacute;couvrir&raquo;. Ces derni&egrave;res ann&eacute;es, l&#39;usage de drones a permis de multiplier les photos a&eacute;riennes des flancs de collines. Entre 80 et 100 nouveaux dessins ont ainsi &eacute;merg&eacute; dans les vall&eacute;es de Nazca et de Palpa, au sud du P&eacute;rou actuel.</p>

<figure class="figure  mx-auto d-block col-12 col-lg-10"><img alt="" class="figure-img img-fluid" src="/img/hermes/chatNazca/img1.jpg" />
<figcaption class="figure-caption">Le condor et le singe du d&eacute;sert de Nazca. (Photos Diego Delso, CC BY SA)</figcaption>
</figure>

<h2 class="fw-bold">Comparer les motifs</h2>

<p>&laquo;Ils sont plus petits en taille, dessin&eacute;s &agrave; flanc de colline&raquo;, et comptent &laquo;clairement&raquo; parmi les g&eacute;oglyphes les plus pr&eacute;coces que l&#39;on connaisse. Johny Isla explique qu&#39;une des mani&egrave;res de dater les g&eacute;oglyphes consiste &agrave; comparer leurs motifs &agrave; ceux trouv&eacute;s sur d&#39;autres supports arch&eacute;ologiques. Les c&eacute;ramiques et tissus de la <a class="text-decoration-none text-danger" href="https://fr.wikipedia.org/wiki/Civilisation_de_Paracas">culture paracas</a>, par exemple, &laquo;montrent des oiseaux, des chats et des personnes&raquo; qui ressemblent beaucoup au style du chat. Le f&eacute;lin semble donc provenir de la fin de la civilisation paracas, qui a prosp&eacute;r&eacute; entre les ann&eacute;es -800 et -100 avant de se fondre dans la culture nazca (qui, elle, a dur&eacute; jusqu&#39;&agrave; l&#39;an 600 au moins). &laquo;Autrement dit, il est ant&eacute;rieur aux animaux c&eacute;l&egrave;bres&raquo; des lignes de Nazca.</p>

<p>La colline du chat est surnomm&eacute;e le &laquo;belv&eacute;d&egrave;re naturel&raquo; par les arch&eacute;ologues, pr&eacute;cise le minist&egrave;re de la Culture p&eacute;ruvien, car &laquo;de nombreuses lignes droites de largeur et de longueur diff&eacute;rentes (g&eacute;oglyphes) convergent autour de lui, et peuvent &ecirc;tre vues du haut de la colline. Techniquement, il constitue l&#39;un des plus grands centres de convergence de lignes de la r&eacute;gion de Nazca.&raquo;</p>
</div>

