<div class="container-fluid text-left">
     <div class="row text-black-50">
        <div class="col-5">
            <p >Imaginons que vous souhaitiez créer un catalogue de musique <b>"Mon catalogue"</b> <br/>qui aurait un sous menu <b>"Classique"</b>.".</p>
            <p>Vous allez commencer par ajouter dans le champ <b> "{{ 'sheet.label'|trans()|raw}}"</b> le texte <br/> <b>"Mon catalogue"</b> comme indiqué sur l'image à droite </p>
            <p>Il ne vous reste plus qu'à ajouter le sous menu <b>"Classique"</b> et d'ajouter un contenu (<b>"Voici le moment de parler de musique classique!"</b> dans notre exemple).</p>
            <p>Pour cela, passez à l'étape suivante en cliquant sur le bouton <b>"<i class="fa fa-save"> </i><i class="fa fa-plus"></i> {{ 'sheet.update_next'|trans()|raw}}" </b></p>
        </div>
        <div class="col-7">
            <img class="col-lg-12 mr-0" src="{{ asset('img/info/barre_menu_back.png') }}">
          </div>
    </div>
</div>