<div class="container-fluid text-left">
     <div class="row text-black-50">
        <div class="col-5">
            <p>Vous venez de créer le menu <b>"Mon catalogue"</b> .</p>
            <p>Il est temps d'ajouter le sous menu <b>"Classique"</b>  <br/> et d'ajouter un contenu (<b>"Voici le moment de parler de musique classique!"</b> dans notre exemple)..".</p>
            <p>Rien de plus simple, faites comme dans l'exemple en image qui se trouve à droite </p>
          </div>
        <div class="col-7">
            <img class="col-lg-12 mr-0" src="{{ asset('img/info/menu_post_back.png') }}">
        </div>
    </div>
    <hr style="border: dashed"/>
     <div class="row">
        <div class="col-5">
            <p>Après avoir sauvegardé, voici ce que donnera la page de votre site web.</p>
            <p>Bien entendu, il s'agit d'un contenu très simple, à vous d'y mettre du contenu varié.<br>
                Il existe plusieurs exemples à copier (visibles en cliquant sur "{{ 'global.exemple_libre'|trans()|raw }}") sur ce site pour vous faciliter la tâche et qui donneront de remarquables résultats </p>

        </div>
        <div class="col-7">
            <img class="col-lg-12 mr-0" src="{{ asset('img/info/menu_front.png') }}">
        </div>
    </div>
</div>