@import "../../../commun/css/root.css";

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 0rem;
    min-height: 100%;
}
.form-group{
    width: 350px; /* 100%; /* 1050px; */
}

.vl {
    border-left: 1px solid #8f2160;
}

.text-justify{text-align:justify !important;}

a {
    color: var(--color-hermes1);
}
a:hover {
    color: var(--color-hermes2);
    text-decoration: none;
}

li.active{
    background-color: var(--color-green4);
}

.img-fluid-big {
    background-size: cover;
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.img-fluid-big img {
    display: none;
}

.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}

.fa-chevron-circle-down, .fa-chevron-circle-up {
    font-size: 44px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 500px) {
.row{
        margin-left: 5px;
        margin-right: 5px;
    }
}

.container{
    padding-left: 0px;
    padding-right: 0px;
}

#section_bottom{
    padding: 0px;
}

/*
zoom img
 */

.zoom img:active {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


/*
 videos with image (youtube...))
 */
.youtube-container {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
}

.youtube-player {
    display: block;
    margin: 20px auto;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
    display: block;
    background-color: transparent;
}

img.youtube-thumbnail {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
}

div.youtube-play-btn {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("https://freepngimg.com/thumb/categories/1398.png")
    no-repeat center center;
    background-size: 72px 72px;
}

.youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
