{%  if(app.user is not null) %}
      <h4 class="{{ content_color }} text-center mt-3">
            {{ (breadcrumb == 'order.paiement'|trans() )  ? 'paiement.security'|trans()  : 'order.security'|trans() }}
            <span class="fa fa-lock"></span>
      </h4>
{% endif %}

