
<!-- Fonctionnalites-->
<div id="presentation" class="container-fluid px-4 px-lg-5 mt-4 h-bay-jamjuree ">
    {# <div class="row border border-dark rounded-top  "> #}
    <div class="row col-12 col-sm-10 mx-auto">
        <p class="mt-md-3 lead">
            {{ 'global.hello'|trans()|raw }}  {{ app.user.firstname ?? '' ~ ' ' ~  app.user.lastname ?? '' }},
        </p>
        <p class="mt-md-3 lead">
            {{ 'info.admin_type_site_1'|trans()|raw }}
        </p>
        <p class="mt-md-3 lead">
            {{ 'info.admin_type_site_2'|trans()|raw }}
        </p>
    </div>
   <div class="col-12 col-sm-10 mx-auto mt-3 mt-sm-5 ">
<h1 class="display-1 text-center"><span class="field_base_line">Un Cms complet</span></h1>
<img alt="" class="img-fluid col-12 mx-auto" src="https://hermes-cms.org/hermes/uploads/content/istockphoto-1419768610-612x612.webp" /></div>

<div class="col-10 mx-auto mt-3 mt-sm-5 lh-lg lead">
<h1 class="display-1 text-center"><span class="field_base_line">Fonctionnalit&eacute;s</span></h1>

<p>R&eacute;aliser un site Web est un exercice qui est comparable &agrave; jeu de construction.</p>

<p>Si le mat&eacute;riel est de qualit&eacute; et que la boite &agrave; outil est bien organis&eacute;e, on peut r&eacute;aliser de tr&egrave;s belles choses.</p>

<p>Les templates Hermes sont bas&eacute;s sur la biblioth&egrave;que Bootstrap, ce qui permet la cr&eacute;ation de templates responsives.</p>

<p>Un autre avantage non n&eacute;gligeable &agrave; utiliser Bootstrap est qu&#39;il est facile de trouver des templates libres Boostrap.</p>

<hr /></div>

<div class="row col-12 col-sm-10 mx-auto mt-3 mt-sm-5 lh-lg">
<div class="col-12 col-sm-6">
<h4>Les templates.</h4>

<p>Hermes propose 6 types de templates :</p>

<ul>
	<li>Les listes : id&eacute;ales lorsque vous avez un nombre important de photos &agrave; pr&eacute;senter.</li>
	<li>Les formulaires de contact.</li>
	<li>Les formulaires de livre d&#39;or : utile pour afficher les commentaires.</li>
	<li>Les formulaires de demande de Newsletter.</li>
	<li>Les templates libres :
	<ul>
		<li>Vous pouvez les r&eacute;aliser grace &agrave; l&#39;interface graphique fournie par Hermes.</li>
		<li>Vous pouvez les s&eacute;lectionner dans la liste des templates fournis par l&#39;api Hermes.</li>
		<li>Vous pouvez en r&eacute;cup&eacute;rer facilement et librement sur internet.</li>
	</ul>
	</li>
	<li>Les templates libres pour Newsletter : ce type de template est identique au template libre &agrave; cela pr&egrave;s qu&#39;il est envoy&eacute; &agrave; la liste des abonn&eacute;s &agrave; votre Newsletter.</li>
</ul>
</div>

<div class="col-12 col-sm-6">
<h4>Fonctionnalit&eacute;s des menus et des pages.</h4>

<p>Hermes vous simplifie la configuration des menus et pages :</p>

<ul>
	<li>Les dimensions : vous s&eacute;lectionner la largeur du contenu d&#39;une page (&eacute;chelle de 1 &agrave; 12).</li>
	<li>Activation : vous pouvez activer/d&eacute;sactiver une partie de page, une page enti&egrave;re, il en va de m&ecirc;me pour les menus et sous menus.</li>
	<li>Programmation de l&#39;activation : vous pouvez programmer des dates d&#39;activation d&#39;une partie de page ou d&#39;une page compl&egrave;te.</li>
	<li>Le nombre d&#39;images par ligne est configurable pour les listes.</li>
	<li>Il existe des fonctions de copie ou d&eacute;placement de page : tr&egrave;s pratique lorsque vous avez des pages &agrave; dupliquer.</li>
	<li>Le chargement des images pour les listes : vous r&eacute;cup&eacute;rez le r&eacute;pertoire contenant toutes les images afin d&#39;alimenter le template &quot;Liste&quot;.</li>
	<li>Internationnalisation de votre site : vous pouvez dupliquer votre site en 1 click, charge &agrave; vous ensuite de modifier les menus et contenus de la nouvelle langue.</li>
</ul>
</div>

<div class="col-12 col-sm-6">
<h4>Menu configuration.</h4>

<p>La configuration est tr&egrave;s riche et vous permet de traiter les diff&eacute;rentes parties de votre sites</p>

<ul>
	<li>Configuration g&eacute;n&eacute;rale du site : permet de choisir les couleurs, largeur, typographie, le logo et son positionnement...</li>
	<li>Configuration du menu : permet de choisir le positionnement des &eacute;l&eacute;ments du menus, de choisir le logo et son emplacement, les couleurs, la largeur.</li>
	<li>Configuration du footer : permet de choisi le texte, les couleurs.</li>
	<li>Configuration des balises title et meta : permet de choisir le texte de author, description et robots.</li>
	<li>Configuration des formulaires de contact, newsletter et livre d&#39;or : permet de choisir l&#39;email d&#39;envoi, le texte, les couleurs.</li>
</ul>
</div>

<div class="col-12 col-sm-6">
<h4>La suite?</h4>

<ul>
	<li>L&#39;api hermes fournit d&eacute;j&agrave; des templates tr&egrave;s pratiques. Elle est mise &agrave; jour et r&eacute;guli&egrave;rement aliment&eacute;e pour vous proposer de nombreux templates de qualit&eacute;.</li>
	<li>Les templates de type liste permettent de belles pr&eacute;sentation : la liste va continuer &agrave; s&#39;agrandir pour fournir d&#39;avantage de mod&egrave;les.</li>
	<li>L&#39;ergonomie de l&#39;interface d&#39;administration sera am&eacute;lior&eacute;e pour vous simplifier encore la cr&eacute;ation de vos pages.</li>
	<li>Mise en place de formation via des ateliers de cr&eacute;ation de sites.</li>
</ul>
</div>
</div>

<hr class="col-12">
<div class="col-12 ">
		<div id="templates_hermes"></div>
</div>

</div>
