{% extends '/admin/base.html.twig' %}

{% block content %}

    <section class="mt-4 mt-md-1">
        {% include 'admin/admin_presentation.html.twig' %}
        <hr class="my-lg-5" />
{#        {% include 'admin/hermes/template-libre/show_liste_hms.html.twig' %}#}
    </section>

{% endblock content %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('hermes_admin_list_template_hermes_vue') }}
{% endblock javascript %}
