<!-- Section reveal -->
<div class="reveal">
    <div class="slides" style="color: {{ content_color }}">
        {% if('previsualidation_sheet' == app.request.get('_route')) %}
            {% set posts = section.getPrevisualisationPosts %}
        {% else %}
            {% set posts = section.posts %}
        {% endif %}
        {% for post in posts|sort((a, b) => a.position <=> b.position) %}
            {{ post.content|raw }}
        {% endfor %}
    </div>
</div>


