<div class="container col-12 mb-3 mt-4">
<div class="row col-lg-8 mx-auto">
<div class="col-12 col-sm-6 py-sm-1 py-0 px-sm-1 px-0"><img alt="" class="w-100" data-bs-target="#exampleModal" data-bs-toggle="modal" src="/images/hermes/vetement/vue_avant.jpg" /></div>

<div class="col-12 col-sm-6 py-sm-1 py-0 px-sm-1 px-0"><img alt="" class="w-100" data-bs-target="#exampleModal2" data-bs-toggle="modal" src="/images/hermes/vetement/vue_arriere.jpg" /></div>

<div class="col-12 col-sm-6 py-sm-1 py-0 px-sm-1 px-0"><img alt="" class="w-100" data-bs-target="#exampleModal3" data-bs-toggle="modal" src="/images/hermes/vetement/vue.jpg" /></div>

<div class="col-12 col-sm-6 py-sm-1 py-0 px-sm-1 px-0"><img alt="" class="w-100" data-bs-target="#exampleModal4" data-bs-toggle="modal" src="/images/hermes/vetement/vue_profil.jpg" /></div>
</div>
</div>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
<div class="modal-dialog modal-fullscreen modal-dialog-centered">
<div class="modal-content">
<div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

<div class="modal-body"><img alt="" class="img-fluid mx-auto d-block" src="/images/hermes/vetement/vue_avant.jpg" /></div>
</div>
</div>
</div>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal2" tabindex="-1">
<div class="modal-dialog modal-fullscreen modal-dialog-centered">
<div class="modal-content">
<div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

<div class="modal-body"><img alt="" class="img-fluid mx-auto d-block" src="/images/hermes/vetement/vue_arriere.jpg" /></div>
</div>
</div>
</div>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal3" tabindex="-1">
<div class="modal-dialog modal-fullscreen modal-dialog-centered">
<div class="modal-content">
<div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

<div class="modal-body"><img alt="" class="img-fluid mx-auto d-block" src="/images/hermes/vetement/vue.jpg" /></div>
</div>
</div>
</div>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal4" tabindex="-1">
<div class="modal-dialog modal-fullscreen modal-dialog-centered">
<div class="modal-content">
<div class="modal-header border-bottom-0"><button aria-label="Close" class="btn-close bg-secondary" data-bs-dismiss="modal" type="button"></button></div>

<div class="modal-body"><img alt="" class="img-fluid mx-auto d-block" src="/images/hermes/vetement/vue_profil.jpg" /></div>
</div>
</div>
</div>
