
<div class="modal-header border-0">
    <h4 class="image-gallery-title modal-title" id="image-gallery-title"></h4>
    <button type="button" class="btn-close" style="background-color: {{ modale_color }}" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="col-lg-{{ (section.template2Width ?? modale_container_width)|col_lg() }} col-12 mx-auto px-0" >
    <h4 class="post-name-gallery-image text-center mt-4" id="post-name-gallery-image"> </h4>
    </h4>
    <div class="modal-body row col-12  mx-auto px-0">
        <div class="text-center my-3 mx-auto px-0">
            <button type="button" class="btn btn-secondary float-left me-2" id="show-previous-image"><i class="fa fa-arrow-left"></i>
            </button>

            <button type="button" id="show-next-image" class="btn btn-secondary float-right ms-2"><i class="fa fa-arrow-right"></i>
            </button>
        </div>
        <div>
            <img id="image-gallery-image" class="image-gallery-image img-responsive col-md-12 col-12  mx-auto px-0"  src="">
        </div>
        <div id="post-content-gallery-image" class="post-content-gallery-image text-center">
        </div>
        <div class="modal-footer border-0">
        </div>
    </div>
</div>


