<div class="row col-12 col-md-12 mx-auto pt-2 pt-md-4 pb-2 pb-md-4 bg-dark text-white ">
    <div class="col-12 col-md-4 pt-4"><img class="img-fluid mx-auto d-block" src="/img/hermes/entete/img1.webp" /></div>

    <div class="col-12 col-md-8 pt-4">
        <h2><span style="color:#ffefaa;">Bienvenue &agrave; Jazz en Ville 94 - Villejuif</span> <span class="pl-5 h6">Association Loi de 1901</span></h2>

        <p class="mt-5 pt-3 h3 text-justify">Jeudi 21 janvier 2022 &agrave; 21 heures</p>

        <p class="mt-3 h3 text-justify"><span style="color:#ffefaa;">MPT G&eacute;rard Philipe 118 avenue Youri Gagarine 94800 Villejuif</span></p>
    </div>
</div>
