{% if menus['contact'] is defined %}
    {% if menus['contact'] is not null %}
        {% set background_image =  vich_uploader_asset(menus['contact'], 'imageFile')   %}
        {% set background_image_style =  "no-repeat center center ;background-size: cover ;"   %}
    {% endif %}
{% endif %}
{#    {% endif %}#}
    {% if menu is defined %}
        {% if menu is not null %}
            {% if vich_uploader_asset(menu, 'imageFile') is not null %}
                {% set background_image = asset(vich_uploader_asset(menu, 'imageFile'))  %}
                {% set background_image_style =  "no-repeat center center ;background-size: cover ;"   %}
                {% set url ='"' ~  background_image ~ '"' %}
            {% endif %}
        {% endif %}
    {% endif %}

{% if background_image is defined %}
    {% if background_image is null %}
        {% set background_image = vich_uploader_asset(bgcolor, 'imageFile')   %}
        {% set background_image_style =  "no-repeat center center ;background-size: cover ;"   %}
    {% endif %}
{% endif %}


<html lang="fr">
    {% block head %}
        {% include 'front/base/reveal/head.html.twig' %}
    {% endblock head %}
    <body style="background-color:{{ bgcolor.value ?? ' #ffffff' }};color:{{ content_color ?? ' #ffffff' }}">
        <div class="content">
            {% block body %}
                {% block nav %}
                    {% include 'front/base/navbar/' ~ nav_bar ~'.html.twig' %}
                {% endblock nav %}
                {% block content %}
                {% endblock content %}
            {% endblock body %}
        </div>
        {% block javascript %}
            {% include 'front/base/reveal/javascript.html.twig' %}
        {% endblock javascript %}
    </body>
</html>
