<div class="container-fluid bg-danger text-white vh-100 px-2 px-lg-5 mt-sm-5 pt-sm-5">
    <div class="row align-items-center">
        <div class="col-lg-8">
            <h2 class="fw-bold text-uppercase">Le guide n&ordm;1<br/>
                des salles de sports<br/>
                <small class="h6">Testez gratuitement une salle de sport<br/>
                    ou achetez au meilleur prix</small></h2>
            <a class="col-lg-6 mt-2 mt-md-5 btn btn-primary btn-lg  " href="#about" type="button">D&eacute;buter</a>
        </div>

        <div class="col-lg-4"><img alt="" class="img-fluid rounded " src="/img/hermes/salle-de-sport/image-1.jpg"
                                   style="width: 852px; height: 638px;"/></div>
    </div>
</div>