<!-- Section Libre -->
<section id="{{ section.name }}" class="pb-0  mx-auto px-0 col-12 pt-0" style="background-color:{{ section.templateBgColor ?? content_bgcolor }}">
    {% if('previsualidation_sheet' == app.request.get('_route')) %}
        {% set posts = section.getPrevisualisationPosts %}
    {% else %}
        {% set posts = section.posts %}
    {% endif %}
    {% for post in posts|sort((a, b) => a.position <=> b.position) %}
        <div class="container-fluid col-lg-{{  (section.templateWidth ?? container_width)|col_lg() }} mx-auto px-0" >
            {{ post.content|raw }}
        </div>
    {% endfor %}
</section>
