<!-- Modale -->
<div class="modal fade px-lg-0" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog mx-auto mw-100 ">
        <div class="modal-content col-lg-{{ (section.template2Width ?? modale_container_width)|col_lg() }}  col-12  mx-auto px-0 " style="background-color: {{ modale_bgcolor }}; color: {{ modale_color }}">
            <div class="modal-header border-0">
                <h4 class="modal-title" id="image-gallery-title"></h4>
                <button type="button" class="close"  style="color: {{ modale_color }}" data-bs-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="col-lg-12 mx-auto px-0" >
                <h4 class="text-center mt-4" id="post-name-gallery-image"> </h4>
                </h4>
                <div class="modal-body row col-12  mx-auto px-0">
                    <div class="my-3 mx-auto px-0">
                        <button type="button" class="btn btn-secondary float-left mr-2" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right ml-2"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                 </div>
                <div id="post-content-gallery-image">
                </div>
                <div class="modal-footer border-0">
                </div>
            </div>
        </div>
    </div>
</div>

