<div class="col-12 col-lg-12 py-4 bg-dark text-white">
    <div class="row mx-auto col-12 col-lg-6">
        <div class="col-md-4 py-4">
            <div class="col-4 col-md-4 mx-auto "><img
                        class="img-fluid mx-auto p-3 d-block border border-white rounded-circle " src="/img/hermes/restaurant/image12.png"/></div>

            <h5 class="text-center  pt-2">MENU DU JOUR</h5>

            <p class="col-12 col-lg-10 text-center mx-auto pt-2">Pour les plus press&eacute;s<br/>
                <br/>
                Le menu change chaque jour selon le march&eacute; et l&#39;inspiration du moment<br/>
                <br/>
                Du lundi au samedi, le midi uniquement</p>
        </div>

        <div class="col-md-4 py-4">
            <div class="col-4 col-md-4 mx-auto "><img
                        class="img-fluid mx-auto p-3 d-block border border-white rounded-circle " src="/img/hermes/restaurant/image13.png"/></div>

            <h5 class="text-center pt-2">A LA CARTE</h5>

            <p class="col-12 col-lg-10 text-center mx-auto pt-2">Pour les gourmands qui prennent leur temps<br/>
                <br/>
                Une cuisine de saison, des produits selectionn&eacute;s avec soin parmi les producteurs locaux<br/>
                <br/>
                Une nouvelle carte toutes les 6 semaines</p>
        </div>

        <div class="col-md-4 py-4">
            <div class="col-4 col-md-4 mx-auto "><img
                        class="img-fluid mx-auto p-3  d-block border border-white rounded-circle " src="/img/hermes/restaurant/image14.png"/></div>

            <h5 class="text-center pt-2">LA CAVE</h5>

            <p class="col-12 col-lg-10 text-center mx-auto pt-2">Des vins biologiques, biodynamiques et nature,
                pour d&eacute;couvrir ou red&eacute;couvrir, des vignerons, des terroirs, et surtout&hellip; de bons vins
                !</p>
        </div>
    </div>
</div>
