<div class="row pt-2 pt-md-4 pb-2 pb-md-4">
<div class="col-12 col-md-4 pt-4"><img class="img-fluid mx-auto d-block" src="/img/hermes/YOM/img1.jpg" /></div>

<div class="col-12 col-md-8 pt-4">
<h3>YOM Eternal Odyssey</h3>

<p class="text-justify">YOM ETERNAL ODYSSEE Yom : clariette Fr&eacute;d&eacute;ric Deville : violoncelle R&eacute;gis Huby : Violon &laquo; L&#39;insatiable Yom cr&eacute;e un nouveau trio au lyrisme &agrave; fleur de peau et au son tout acoustique, pour d&eacute;clencher plaisir, &eacute;motion, ferveur, lyrisme, et transe... Apr&egrave;s dix ans intenses emplis de nombreuses cr&eacute;ations en tout genre, Yom se lance dans l&#39;aventure du trio avec deux musiciens exceptionnels : Fr&eacute;deric Deville au violoncelle et R&eacute;gis Huby au violon. Pi&egrave;ce inspir&eacute;e de l&rsquo;Odyss&eacute;e d&rsquo;Ulysse bien-s&ucirc;r, mais aussi de celle plus actuelle et anonyme de milliers d&rsquo;&ecirc;tres humains quittant leur foyer pour un Eldorado presque inatteignable, &laquo; Eternal Odyssey &raquo; est une travers&eacute;e, une &eacute;pop&eacute;e, une aventure &agrave; vivre en concert sur les territoires spirituels de la transe sous toutes ses formes. Au-del&agrave; de la performance physique et de la virtuosit&eacute; exceptionnelle du trio, ce concert se vit comme une exploration d&rsquo;un au-del&agrave; magique. &raquo;</p>
<a class="text-decoration-none text-primary fw-bold pt-1" href="#">En savoir plus</a>
</div>

<div class="border-bottom border-dark border-1 pt-3">&nbsp;</div>
</div>
