<div class="row col-12 mx-auto border bg-white mb-lg-4 pb-2 pb-lg-4 pt-2 pt-lg-4 mt-lg-4 text-dark">
    <div class="mx-auto">
        <h1 class="text-uppercase text-center pt-2 pt-lg-4">Histoire</h1>

        <div class="col-lg-7 mx-auto"><div class="border-dark border-bottom border-3 col-1 mb-2 mb-lg-4 mx-auto"></div>
        </div>
    </div>
    <img alt="" class="img-fluid col-12 col-md-3 h-50" src="/img/hermes/restaurant/image10.jpg" />
    <p class="col-12 col-md-3">Le Chef <span class="fw-bold"> Olivier Chaput </span> est derri&egrave;re les fourneaux depuis l&#39;&acirc;ge de 14 ans. Une fois diplom&eacute;, il fait ses classes dans diff&eacute;rents restaurants gastronomiques en France et l&#39;&eacute;tranger.<br />
        <br />
        Amoureux du produit, sa cuisine respecte les traditions, sans artifice et fait la part belle aux produits locaux et de saison.<br />
        <br />
        Il s&#39;engage avec conviction aupr&egrave;s des futures g&eacute;n&eacute;rations pour les sensibiliser &agrave; la gastronomie et intervient en tant que chef expert aupr&egrave;s des m&eacute;dias</p>

    <p class="col-12 col-md-3"><span class="fw-bold">Philippe Journoud</span> tombe dans la marmite en 1985,<br />
        <br />
        Intuitif, il anticipe la tendance et tape dans le mille. A l&rsquo;&eacute;coute de l&rsquo;air du temps, il trouve son public qu&rsquo;il satisfait imm&eacute;diatement, en cr&eacute;ant une ambiance conviviale dans chacun de ses &eacute;tablissements.<br />
        1985 Dame Tartine,<br />
        1995 Le Pied de Chameau<br />
        2000 O Pti Cahoua<br />
        2010 Les temps Modernes<br />
        <br />
        A Villejuif, il fait le pari de la banlieue, de s&rsquo;implanter de l&rsquo;autre c&ocirc;t&eacute; du p&eacute;riph&#39;, loin de l&rsquo;effervescence de Paris. Une fois de plus, le succ&egrave;s est au rendez-vous.</p>
    <img alt="" class="img-fluid col-12 col-md-3 h-50" src="/img/hermes/restaurant/image11.jpg" /></div>
