@import "~foundation-emails/dist/foundation-emails.css";
@import "~bootstrap/dist/css/bootstrap.css";

body, body.iframe {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  font-family: "Bai Jamjuree", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  font-family: "Bai Jamjuree", sans-serif;
}

h1 {
  color: #ffffff;
  font-weight: normal;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h3,h4,h5,h6 {
  color: #000000;
  font-weight: normal;
}

hr.order {
  border: none;
  border-top: 3px solid #264459;
  margin: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

table,tr {
  border-style: inset;
  border-collapse: #eeeeee;
  margin-top: 30px;
}

table, tr {
  width: 100%;
}

td, th {
  max-width: 30%;
}

tr th.checkout-total {
  max-width: 100%;
}

tfoot {
  display: table;
  margin-top: 40px;
}