<div class="row pt-5 pb-4">
<div class="col-md-4 "><img class="img-fluid pb-1 mx-auto d-block " src="/images/hermes/YOMDiscographie/priere.jpg" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Image template 1</p>
</div>

<div class="col-md-4 "><img class="img-fluid pb-1 mx-auto d-block" src="/images/hermes/YOMDiscographie/cover.png" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Biais en tissu Liberty dans la capuche, aux poches, sur la glissi&egrave;re et &agrave; la taille &eacute;lastiqu&eacute;e. Coudi&egrave;res en forme d&#39;&eacute;toile en tissu Liberty. Etiquette nom. Pantalon droit avec 2 poches italiennes.</p>
</div>

<div class="col-md-4 "><img class="img-fluid pb-1 mx-auto d-block" src="/images/hermes/YOMDiscographie/old-man.jpg" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Molleton 81% coton, 19% polyester. Tissu Liberty 100% coton</p>
</div>
</div>

<div class="row pt-5 pb-4">
<div class="col-md-4"><img class="img-fluid pb-1 mx-auto d-block" src="/images/hermes/YOMDiscographie/silence.jpg" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Image template 1</p>
</div>

<div class="col-md-4"><img class="img-fluid pb-1 mx-auto d-block" src="/images/hermes/YOMDiscographie/empire.jpg" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Image template 1</p>
</div>

<div class="col-md-4"><img class="img-fluid pb-1 mx-auto d-block" src="/images/hermes/YOMDiscographie/green.jpg" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Image template 1</p>
</div>
</div>

<div class="row pt-5 pb-4">
<div class="col-md-4"><img class="img-fluid pb-1 mx-auto d-block" src="/images/hermes/YOMDiscographie/wonder.jpg" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Image template 1</p>
</div>

<div class="col-md-4"><img class="img-fluid pb-1 mx-auto d-block" src="/images/hermes/YOMDiscographie/unue.jpg" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Image template 1</p>
</div>

<div class="col-md-4"><img class="img-fluid pb-1 mx-auto d-block" src="/images/hermes/YOMDiscographie/king.jpg" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Image template 1</p>
</div>
</div>

<div class="row pt-5 pb-4">
<div class="col-md-4 "><img class="img-fluid pb-1 mx-auto d-block" src="/images/hermes/YOMDiscographie/moon.jpg" />
<p class="mx-auto col-sm-6 col-md-10 col-lg-8">Image template 1</p>
</div>
</div>
