{% extends 'front/base/hermes/base.html.twig' %}

{% block content %}
    {% set search = 'search1' %}
    {% if posts is defined %}
        <div id="top" class="hide mt-2" ></div>
        {% include 'front/base/hermes/template/'~ search ~ '.html.twig'  %}
    {% endif %}
{#    <section id="section_bottom" ></section>#}
{% endblock content %}


