{% extends '/admin/base.html.twig' %}

{% block title %} {{ 'sheet.edit'|trans() }}{% endblock %}

{% block content %}

    {{ include('admin/template/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="hms-color1" href="{{ path('template_index') }}">back to list</a>

    {{ include('admin/template/_delete_form.html.twig') }}
{% endblock %}
