{% extends '/admin/base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">{{ 'user.forgot_password'|trans() }}</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="{{ 'user.email'|trans() }}" required autofocus>

        <button class="btn btn-lg btn-primary" type="submit">
            {{ 'user.send_email'|trans() }}
        </button>

    </form>
{% endblock %}
