{% extends '/admin/base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block content %}
    <form method="post">
        <div class="col-lg-12 text-center mt-5">
        <h1 class="h3 mt-5 mb-3 font-weight-normal text-primary">{{ 'user.forgot_password'|trans() }}</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="col-lg-4 mx-auto form-control border-primary" placeholder="{{ 'user.email'|trans() }}" required autofocus>

        <button class="mx-auto btn h-w-10 btn-outline-primary h-rounded-lg-4 btn-xl mt-3" type="submit">
            {{ 'user.send_email'|trans() }}
        </button>
        </div>

    </form>
{% endblock %}
