{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'user.reset_password_label'|trans() }}{% endblock %}

{% block content %}
    <section id="container" class="align-content-center" style="font-family:'Bai Jamjuree', sans-serif;">
        <div class="col-md-4 mx-auto mt-md-5 py-md-5 px-5 border border-secondary rounded-3 text-center">
            <form method="post">

                <h1 class="h3 mb-3 font-weight-normal">{{ 'user.reset_password'|trans() }}</h1>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                <input type="hidden" name="token" value="{{ token }}">

                <button class="col-md-4 mx-auto btn h-btn-outline-success mb-sm-3 h-rounded-lg-4 btn-xl mt-3" type="submit">
                    {{ 'user.reset_password'|trans() }}
                </button>
            </form>
        </div>
    </section>
{% endblock content %}
