{% extends 'base.html.twig' %}

{% block title %} Reset Forgotten Password!{% endblock %}

{% block body %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'general.reset'|trans() }} {{ username }}</h1>
        <h1 class="h3 mb-3 font-weight-normal"><a href="{{ url }}" target="_blank">{{ url }}</a></h1>

{% endblock %}
