<div class="col-12 mx-auto mt-2 mt-lg-4 px-2 px-sm-0">
<h1 class="text-center text-white text-uppercase">Les cartes</h1>
<div class="col-lg-7 mx-auto">
  <div class="border-white border-bottom border-3 col-1 mt-2 mb-2 pt-2 mx-auto"></div></div>
<p class="text-white text-center pb-2">la cuisine ouverte sur la grande salle offre un ballet minutieusement cadenc&eacute; par le chef Olivier Chaput, qui a fait voeu de partage et de convivialit&eacute;.</p>
</div>
