@import "../../commun/css/root.css";

/*!**/
/*hermes colors*/
/* *!*/
/*.hms-color1 {*/
/*    color: var(--color-hermes1);*/
/*}*/
/*a.hms-color1:hover {*/
/*    color: var(--color-hermes2);*/
/*}*/

/*.hms-color2 {*/
/*    color: var(--color-hermes2);*/
/*}*/
/*a.hms-color2:hover {*/
/*    color: var(--color-hermes1);*/
/*}*/
/*.hms-bg-color1 {*/
/*    background-color: var(--color-hermes1);*/
/*}*/

/*.hms-bg-color2 {*/
/*    background-color: var(--color-hermes2);*/
/*}*/

/*
checkbox
 */
.form-check-input {
    clear: left;
}

.form-switch.form-switch-sm {
    margin-bottom: 0.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-sm .form-check-input {
    height: 1rem;
    width: calc(1rem + 0.75rem);
    border-radius: 2rem;
    background-color: var(--color-hermes1);
    border-color: var(--color-hermes2);
}

/*
Position footer calculée
 */
.content {
    min-height: calc(100vh - 120px);
}


/*
Backend
 */

/*.form-group{*/
/*    width:  800px;*/
/*}*/
/*.btn-primary {*/
/*    color: #fff;*/
/*    !*background-color: #007bff;*!*/
/*    background-color: var(--color-back); !* #007bff *!;*/
/*    border-color: var(--color-green4); !* #007bff *!;*/
/*}*/

/*.text-info {*/
/*    color: #fff !important; !*#17a2b8 !important;*!*/
/*}*/

/*span a.text-info {*/
/*    color: #17a2b8 !important;;*/
/*}*/


/*.footer {*/
/*    height: 110px;*/
/*    background-color: var(--color-back);*/
/*    color: var(--color-back);*/
/*}*/

/*.container{*/
/*    max-width: 75%;*/
/*}*/

/*section {*/
/*    padding-top: 50px;*/
/*    padding-bottom: 10px;*/
/*}*/

/*#section_top {*/
/*    padding-top: 100px;*/
/*    padding-bottom: 10px;*/
/*}*/

/*hr.hr_section {*/
/*    border: 1px solid var(--color-yellow) ;*/
/*    !*border-radius: 1px;*!*/
/*    width: 20%;*/
/*}*/

/*.center {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-top: 35px;*/
/*    margin-bottom: 50px;*/
/*    width: 100%;*/
/*}*/

/*span.gauche {*/
/*    float: left;*/
/*}*/

/*span.droite {*/
/*    float: right;*/
/*}*/
/*!**/
/*    fonts, color...*/
/* *!*/
/*.body1{*/
/*    font-family: var(--font-family-1);*/
/*    color: var(--color-white);*/
/*    background-color: var(--color-green4);*/
/*}*/

/*.body2{*/
/*    font-family: var(--font-family-1);*/
/*    color: var(--color-black);*/
/*    background-color: var(--color-grey2);*/
/*}*/

/*.app_logo{*/
/*    z-index: 9999;*/
/*    max-width: 140px;*/
/*    max-height: 120px;*/
/*}*/

/*h2.section-heading{*/
/*    color: var(--color-yellow);*/
/*}*/

/*.form-group input, .form-group textarea {*/
/*    background-color: var(--color-green1);*/
/*    color: var(--color-black);*/
/*}*/

/*li.active{*/
/*    background-color: var(--color-green4);*/
/*}*/
/*a {*/
/*    color: var(--color-yellow);*/
/*}*/
/*a:hover {*/
/*    color: var(--color-black);*/
/*}*/
/*!**/
/*Menu*/
/* *!*/


/*#mainNav .navbar-nav .nav-item .nav-link{*/
/*    color: var(--color-white);*/
/*    width: max-content;*/
/*}*/


/*!*.bg-dark{*!*/
/*!*    background-color: var(--color-back) !important ;*!*/
/*!*}*!*/

/*!**/
/*Myportfolio*/
/* *!*/

/*.img-fluid {*/
/*    background-size: cover;*/
/*    width: 300px;*/
/*    !*height: 200px;*!*/
/*    object-fit: cover;*/
/*}*/

/*.img-fluid img {*/
/*    display: none;*/
/*}*/

/*.img-fluid-big {*/
/*    background-size: cover;*/
/*    width: 600px;*/
/*    height: 400px;*/
/*    object-fit: cover;*/
/*}*/

/*.img-fluid-big img {*/
/*    display: none;*/
/*}*/

/*@media (min-width: 767px) {*/
/*    .app-portfolio .portfolio-item {*/
/*        margin: 0 0 30px;*/
/*    }*/
/*}*/


/*!**/
/*Produits*/
/* *!*/

/*.fivecolumns {*/
/*    max-width: 50%;*/
/*    -ms-flex: 0 0 50%;*/
/*    flex: 0 0 50%;*/
/*    position: relative;*/
/*    max-width: var(--percent);*/
/*    -webkit-box-flex: 0;*/
/*    -ms-flex: 0 0 var(--percent);*/
/*    flex: 0 0 var(--percent);*/
/*    margin-bottom: 2.8125rem !important;*/
/*}*/

/*.vl {*/
/*    border-left: 1px solid #8f2160;*/
/*    height: 230px;*/
/*    margin-left: -35px;*/
/*    margin-right: -50px;*/
/*}*/

/*button{*/
/*    margin-top: 20px;*/
/*}*/