<div class="row col-12 mx-auto mt-4 pt-4">
<div class="col-6 col-lg-2 mt-2 mb-2 mx-auto border-dark border-bottom border-3 ">
    <h2 class="col-12  text-dark text-center">Description</h2>
</div>
</div>
