<section class="container-fluid text-white bg-danger vh-100 px-2 px-lg-5 d-none d-lg-block">
    <div class="container pt-md-5 mt-md-5">
        <div class="row align-items-center">
            <div class="col-lg-8 px-0 row">
                <h2 class="fw-bold text-uppercase">Le guide n&ordm;1<br />
                    des salles de sports<br />
                    <small class="h6 text-white-50">Testez gratuitement une salle de sport<br />
                        ou achetez au meilleur prix</small></h2>
                <a class="btn btn-primary btn-lg mt-2 mt-md-5 col-lg-6" href="#about" type="button">D&eacute;buter</a></div>

            <div class="col-lg-4 px-0 py-2 py-md-0"><img alt="" class="img-fluid rounded" src="/img/hermes/salle-de-sport/image-1.jpg" /></div>
        </div>
    </div>
</section>

<section class="container-fluid text-white d-block d-lg-none bg-danger px-2 px-md-5">
    <div class="card bg-danger border-0 text-white"><img alt="..." class="card-img w-75 mx-auto" src="/img/hermes/salle-de-sport/image-1.png" />
        <div class="card-img-overlay">
            <div class="mt-5 pt-5 d-flex">
                <div class="row mx-auto">
                    <h2 class="fw-bold text-uppercase">Le guide n&ordm;1<br />
                        des salles de sports<br />
                        <small class="h6 text-white-50">Testez gratuitement une salle de sport<br />
                            ou achetez au meilleur prix</small></h2>
                    <a class="btn btn-primary btn-lg mt-2 mt-md-5 col-md-6" href="#about" type="button">D&eacute;buter</a></div>
            </div>
        </div>
    </div>
</section>
