<div class="{{ dnone ?? '' }} my-0">
    <video autoplay="" id="background-video" loop="" muted="" style="height: 100vh;width: 100vw;object-fit: cover;position: fixed;left: 0;right: 0;top: 0;bottom: 0; z-index: -1;"><source src="/video/video1.mp4" type="video/mp4" /></video>
</div>