{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-4 col-12 col-lg-2" type="submit"><i class="fa fa-save"></i> {{ 'global.update'|trans() }} </button>
{{ form_end(form) }}
