{% extends "front/base/base_email.html.twig" %}

{% block title %}Email contact{% endblock %}

{% block content %}
    <section >
        <div class="container col-lg-{{ container_width|col_lg() }} text-center center" style="background-color: #ffffff ;">

        </div>
    </section>
{% endblock %}

{#{% block javascript %}#}
{#{% endblock  %}#}

