<b><b>
        <!-- end container -->

        <!-- end pricing-main -->

        <div id="reservation" class="reservations-main pad-top-100 pad-bottom-100">
            <div class="container">
                <div class="row">
                    <div class="form-reservations-box">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: hidden; animation-duration: 1s; animation-delay: 0.1s; animation-name: none;">
                                <h2 class="block-title text-center">
                                    Pour tous vos événements...
                                </h2>
                            </div>
                            <p>* TOUS LES CHAMPS SONT OBLIGATOIRES!</p>

                            <form id="contact-form" method="post" class="" name="contactform" action="mail.php">
                                <div>
                                    <div class="form-box">
                                        <input type="text" name="form_name" id="form_name" placeholder="Nom *" required="required" data-error="Champ obligatoire.">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div>
                                    <div class="form-box">
                                        <input type="email" name="email" id="email" placeholder="Email *" required="required" data-error="Champ obligatoire.">
                                    </div>
                                </div>

                                <div>
                                    <div class="form-box">
                                        <input type="text" name="sujet" id="sujet" placeholder="Sujet *" required="required" data-error="Champ obligatoire.">
                                    </div>
                                </div>

                                <!-- end col -->
                                <div>
                                    <div class="form-box">
                                        <textarea name="occasion" placeholder="Message *" required="required" data-error="Champ obligatoire."></textarea>

                                    </div>
                                </div>
                                <!-- end col -->

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="reserve-book-btn text-center">
                                        <button class="hvr-underline-from-center" type="submit" value="SEND" id="submit">ENVOYER</button>
                                    </div>
                                </div>
                                <!-- end col -->
                            </form>
                            <!-- end form -->

                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end reservations-box -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end reservations-main -->

        <div id="footer" class="footer-main">
            <div class="footer-news pad-top-100 pad-bottom-70 parallax">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: hidden; animation-duration: 1s; animation-delay: 0.1s; animation-name: none;">
                                <h2 class="ft-title color-white text-center"> Newsletter </h2>
                                <p> Ne manquez pas une miette, restez informé</p>
                            </div>
                            <form>
                                <input type="email" placeholder="Email">
                                <a href="#" class="orange-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                            </form>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end footer-news -->
            <div class="footer-box pad-top-70">
                <div class="container">
                    <div class="row">
                        <div class="footer-in-main">
                            <div class="footer-logo">
                                <div class="text-center">
                                    <img src="images/bollystreet/logo/logo-bollystreet.png" alt="logo Restaurant Indien et Sri Lankais Foodtruck Bollystreet">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
                                <div class="footer-box-a">
                                    <h3>Réseaux sociaux</h3>
                                    <p>Suivez-nous sur les réseaux sociaux pour rester informé.</p>
                                    <ul class="socials-box footer-socials pull-left">
                                        <li>
                                            <a href="https://www.facebook.com/Bollystreet.fr" target="_blank">
                                                <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/bollystreet_fr/" target="_blank">
                                                <div class="social-circle-border"><i class="fa  fa-instagram"></i></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.ubereats.com/fr/annecy/food-delivery/bolly-street/gfUlnicaT7qdItCxpujxRw?pl=JTdCJTIyYWRkcmVzcyUyMiUzQSUyMkFubmVjeSUyMiUyQyUyMnJlZmVyZW5jZSUyMiUzQSUyMkNoSUp1XzVoV09XUGkwY1JLNG1ydFRLc2tHbyUyMiUyQyUyMnJlZmVyZW5jZVR5cGUlMjIlM0ElMjJnb29nbGVfcGxhY2VzJTIyJTJDJTIybGF0aXR1ZGUlMjIlM0E0NS44OTkwODg3JTJDJTIybG9uZ2l0dWRlJTIyJTNBNi4xMjk1NDExJTdE" target="_blank">
                                                <div class="social-circle-border"><img class="img-logo" src="/img/Uber-Eats-Icon.png" alt="ubereat"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end footer-box-a -->
                            </div>
                            <!-- end col -->
                            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
                                <div class="footer-box-b">
                                    <h3>Nos partenaires</h3>
                                    <ul>
                                        <li><a href="#">Super U Bonne</a></li>
                                        <li><a href="#">Ville d'Annemasse</a></li>
                                        <li><a href="#">Ville de Nangy</a></li>
                                    </ul>
                                </div>
                                <!-- end footer-box-b -->
                            </div>
                            <!-- end col -->
                            <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
                                <div class="footer-box-c">
                                    <h3>Contact</h3>
                                    <p>
                                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                                        <span>Bolly Street - 66, Impasse des Aravis 74380, Nangy</span>
                                    </p>
                                    <p>
                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                        <span>
									+33 6 08 34 19 13
								</span>
                                    </p>
                                    <p>
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span><a href="#">contact@bollystreet.fr</a></span>
                                    </p>
                                </div>
                                <!-- end footer-box-c -->
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end footer-in-main -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
                <div id="copyright" class="copyright-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6 class="copy-title"> Copyright © 2021 Bolly Street, développé par <a href="http://echo-network.fr/" target="_blank">Echo Network</a> </h6>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end copyright-main -->
            </div>
            <!-- end footer-box -->
        </div>
        <!-- end footer-main -->

        <a href="#" class="scrollup" style="display: none;">Scroll</a>



        <!-- ALL JS FILES -->
        <script src="js/all.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->
        <script src="js/custom.js"></script>


    </b></b>