<div id="gallery" class="team-main pad-top-100 pad-bottom-100 parallax gallery-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: hidden; animation-duration: 1s; animation-delay: 0.1s; animation-name: none;">
                    <h2 class="block-title text-center">
                        Notre Galerie
                    </h2>

                </div>
                <div class="row gal-container clearfix">
                    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#1">
                                <img src="images/bollystreet/gallery/gallery_01.jpg" alt="">
                            </a>
                            <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_01.jpg" alt="">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Equipe Bollystreet</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#2">
                                <img src="images/bollystreet/gallery/gallery_02.jpg" alt="">
                            </a>
                            <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_02.jpg" alt="">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Foodtruck Bollystreet</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#3">
                                <img src="images/bollystreet/gallery/gallery_03.jpg" alt="">
                            </a>
                            <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_03.jpg" alt="">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Biryani poulet Jaffna</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#4">
                                <img src="images/bollystreet/gallery/gallery_04.jpg" alt="">
                            </a>
                            <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_04.jpg" alt="">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Biryani crevette</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#5">
                                <img src="images/bollystreet/gallery/gallery_05.jpg" alt="">
                            </a>
                            <div class="modal fade" id="5" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_05.jpg" alt="">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Biryani poulet tandoori</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#9">
                                <img src="images/bollystreet/gallery/gallery_06.jpg" alt="">
                            </a>
                            <div class="modal fade" id="9" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_06.jpg" alt="">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Biére Kingfisher</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#10">
                                <img src="images/bollystreet/gallery/gallery_07.jpg" alt="">
                            </a>
                            <div class="modal fade" id="10" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_07.jpg" alt="">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Foodtruck Bollystreet</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#11">
                                <img src="images/bollystreet/gallery/gallery_08.jpg" alt="">
                            </a>
                            <div class="modal fade" id="11" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_08.jpg" alt="">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Burger butter chiken</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#12">
                                <img src="images/bollystreet/gallery/gallery_09.jpg" alt="">
                            </a>
                            <div class="modal fade" id="12" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_09.jpg" alt="">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Cheese Butter Chicken Fries</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#13">
                                <img src="images/bollystreet/gallery/gallery_10.png" alt="poulet">
                            </a>
                            <div class="modal fade" id="13" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/gallery_10.png" alt="Poulet">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Poulet Jaffna</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#14">
                                <img src="images/bollystreet/gallery/Burger Tikka Masala.jpg" alt="Chili Chesse">
                            </a>
                            <div class="modal fade" id="14" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/Burger Tikka Masala.jpg" alt="Burger">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Burger Tikka Masala</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#15">
                                <img src="images/bollystreet/gallery/Cheese Butter Chicken Fries 2.jpg" alt="Chili Chesse">
                            </a>
                            <div class="modal fade" id="15" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/Cheese Butter Chicken Fries 2.jpg" alt="Chili Chesse">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Cheese Butter Chicken Fries</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#16">
                                <img src="images/bollystreet/gallery/Cheese Chicken Tikka Fries.jpg" alt="Chili Chesse">
                            </a>
                            <div class="modal fade" id="16" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/Cheese Chicken Tikka Fries.jpg" alt="Chili Chesse">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Cheese Chicken Tikka Fries</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#17">
                                <img src="images/bollystreet/gallery/Chili Chesse Onions Fries 2.jpg" alt="Chili Chesse">
                            </a>
                            <div class="modal fade" id="17" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/Chili Chesse Onions Fries 2.jpg" alt="Chili Chesse">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Chili Chesse Onions Fries</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#18">
                                <img src="images/bollystreet/gallery/Plateau Apero XL.jpg" alt="Plateau Apero">
                            </a>
                            <div class="modal fade" id="18" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/Plateau Apero XL.jpg" alt="Plateau Apero">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Plateau Apero XL</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#19">
                                <img src="images/bollystreet/gallery/Chili Chesse Onions Fries.jpg" alt="Chili Chesse">
                            </a>
                            <div class="modal fade" id="19" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="images/bollystreet/gallery/Chili Chesse Onions Fries.jpg" alt="Chili Chesse">
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4>Chili Chesse Onions Fries</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end gal-container -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>