<div id="menu" class="menu-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: hidden; animation-duration: 1s; animation-delay: 0.1s; animation-name: none;">
                    <h2 class="block-title text-center">
                        Nos Menus
                    </h2>
                    <p class="title-caption text-center">Nos saveurs street-food très répandu en Inde et au Sri Lanka.</p>
                </div>
                <div class="tab-menu">
                    <div class="slider slider-nav slick-initialized slick-slider">
                        <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1140px; left: 0px;" role="listbox"><div class="tab-title-menu slick-slide slick-current slick-active is-active" data-slick-index="0" aria-hidden="false" style="width: 285px;" tabindex="-1" role="option" aria-describedby="slick-slide10">
                                    <h2>SNACKS</h2>
                                    <p> <i class="fas fa-taco"></i> </p>
                                </div><div class="tab-title-menu slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 285px;" tabindex="-1" role="option" aria-describedby="slick-slide11">
                                    <h2>FORMULES ET PLATEAUX</h2>
                                    <p> <i class="flaticon-dinner"></i> </p>
                                </div><div class="tab-title-menu slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 285px;" tabindex="-1" role="option" aria-describedby="slick-slide12">
                                    <h2>PLATS ET POUTINES</h2>
                                    <p> <i class="flaticon-dinner"></i> </p>
                                </div><div class="tab-title-menu slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 285px;" tabindex="-1" role="option" aria-describedby="slick-slide13">
                                    <h2>ACCOMPAGNEMENT ET BOISSONS</h2>

                                    <p> <i class="flaticon-coffee"></i> </p>
                                </div></div></div>




                    </div>
                    <div class="slider slider-single slick-initialized slick-slider">
                        <div aria-live="polite" class="slick-list draggable" style="height: 453px;"><div class="slick-track" style="opacity: 1; width: 4560px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 1140px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/snacks/rolls.png" alt="rolls srilankais" class="img-responsive">
                                            <div>
                                                <h3>ROLLS AU POULET - 2 PIECES</h3>
                                                <p>
                                                    Rouleaux frits au poulet, pommes de terre et d'épices Srilankaises, enrobé de sa chapelure.
                                                </p>
                                            </div>
                                            <span class="offer-price">5€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/snacks/samosa.png" alt="samosa" class="img-responsive">
                                            <div>
                                                <h3>SAMOUSA AU BOEUF CHAROLAIS - 2 PIECES</h3>
                                                <p>
                                                    Beignets à la viande hachée, pommes de terre, petit pois et d'épices Srilankaises.
                                                </p>
                                            </div>
                                            <span class="offer-price">5€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/snacks/poulet-tandoori.png" alt="poulet tandoori" class="img-responsive">
                                            <div>
                                                <h3>CUISSE DE POULET TANDOORI (2 PIECES 8€)</h3>
                                                <p>
                                                    Cuisse de poulet marinée au yaourt et aux épices Indiennes Tandoori puis cuit au four.
                                                </p>
                                            </div>
                                            <span class="offer-price">4.5€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/snacks/poulet-jaffna.png" alt="poulet jaffna" class="img-responsive">
                                            <div>
                                                <h3>CUISSE DE POULET JAFFNA (2 PIECES 8€)</h3>
                                                <p>
                                                    Cuisse de poulet marinée au yaourt et aux épices Srilankaises puis cuit au four.
                                                </p>
                                            </div>
                                            <span class="offer-price">4.5€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/snacks/chicken-tikka.png" alt="" class="img-responsive">
                                            <div>
                                                <h3>POULET TIKKA - 3 PIECES</h3>
                                                <p>
                                                    Morceaux de poulet (filet) marinés au yaourt et aux épices indiennes puis cuit au four.
                                                </p>
                                            </div>
                                            <span class="offer-price">6€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1140px;" tabindex="-1" role="option" aria-describedby="slick-slide01">


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div style="text-align: center;font-family: 'nautilus_pompiliusregular';margin-bottom: 2%;">
                                            <h3 style="font-size: 30px; color: #000;">Nos formules</h3>

                                        </div>
                                    </div>

                                    <div class="col-lg-0 col-md-0 col-sm-12 col-xs-12 ">
                                        <p style="text-align:center;">+1 euro sur les formules avec les Crevettes Tandoori et Poulet Tikka Biryani</p>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/formules/menu-biryani-poulet.png" alt="" class="Biryani poulet jaffna">

                                            <div>
                                                <h3>FORMULE SNACKS / BIRYANI / BOISSON </h3>
                                                <p>
                                                    2 samosas ou 2 Rolls + Poulet Tandoori ou Jaffna Biryani + Soda 33cl ou eau 50cl

                                                </p>

                                            </div>
                                            <span class="offer-price">17€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/formules/menu-biryani-poulet-tandoori.png" alt="Biryani poulet tandoori" class="img-responsive">
                                            <div>
                                                <h3>FORMULE BIRYANI / BOISSON</h3>
                                                <p>
                                                    Poulet Tandoori ou Jaffna Biryani + Soda 33cl ou eau 50cl.
                                                </p>

                                            </div>
                                            <span class="offer-price">13€</span>
                                        </div>
                                    </div>


                                    <!-- end col -->

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div style="text-align: center;font-family: 'nautilus_pompiliusregular';margin-bottom: 2%;">
                                            <h3 style="font-size: 30px; color: #000;">Nos plateaux</h3>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/formules/Plateau Apero Découverte.jpg" alt="poulet tandoori" class="img-responsive">

                                            <div>
                                                <h3>PLATEAU APERO DECOUVERTE</h3>
                                                <p>
                                                    2 samosas ou 2 Rolls + Poulet Tandoori ou Jaffna Biryani + Frites fraiches + Soda 33cl ou eau 50cl

                                                </p>

                                            </div>
                                            <span class="offer-price">15€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/formules/Plateau Apero XL.jpg" alt="rolls srilankais" class="img-responsive">
                                            <div>
                                                <h3>PLATEAU APERO XL</h3>
                                                <p>
                                                    2 samosas / 2 Rolls / 2 cuisses de Poulet Tandoori ou Jaffna / Frites Fraiches / 2 bières kingfisher
                                                </p>

                                            </div>
                                            <span class="offer-price">28€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->

                                </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 1140px;" tabindex="-1" role="option" aria-describedby="slick-slide02">


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div style="text-align: center;font-family: 'nautilus_pompiliusregular';margin-bottom: 2%;">
                                            <h3 style="font-size: 30px; color: #000;">Nos biryanis</h3>

                                        </div>
                                    </div>

                                    <div class="col-lg-0 col-md-0 col-sm-12 col-xs-12 ">

                                    </div>



                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/menu-biryani-poulet.png" alt="" class="Biryani poulet jaffna">
                                            <div>
                                                <h3>Biryani poulet Jaffna</h3>
                                                <p>
                                                    Riz basmati cuit à la vapeur avec du ghee, légumes et des épices, (servi avec sa sauce Raita)
                                                </p>
                                            </div>
                                            <span class="offer-price">12€</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/menu-biryani-poulet-tandoori.png" alt="Biryani poulet tandoori" class="img-responsive">
                                            <div>
                                                <h3>Biryani poulet tandoori</h3>
                                                <p>
                                                    Riz basmati cuit à la vapeur avec du ghee, légumes et des épices, (servi avec sa sauce Raita)
                                                </p>
                                            </div>
                                            <span class="offer-price">12€</span>
                                        </div>
                                    </div>


                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/menu-biryani-poulet.png" alt="" class="Biryani poulet jaffna">
                                            <div>
                                                <h3>Biryani poulet Tikka</h3>
                                                <p>
                                                    Riz basmati cuit à la vapeur avec du ghee, légumes et des épices, (servi avec sa sauce Raita)
                                                </p>
                                            </div>
                                            <span class="offer-price">13€</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/Biryani Crevette.jpg" alt="Biryani poulet tandoori" class="img-responsive">
                                            <div>
                                                <h3>Biryani aux crevettes tandoori</h3>
                                                <p>
                                                    Riz basmati cuit à la vapeur avec du ghee, légumes et des épices, (servi avec sa sauce Raita)
                                                </p>
                                            </div>
                                            <span class="offer-price">13€</span>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div style="text-align: center;font-family: 'nautilus_pompiliusregular';margin-bottom: 2%;">
                                            <h3 style="font-size: 30px; color: #000;">Nos poutines signature</h3>
                                        </div>
                                    </div>

                                    <div class="col-lg-0 col-md-0 col-sm-12 col-xs-12 ">

                                    </div>


                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/Chili Chesse Onions Fries 3.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>Chili Cheese Onion Fries</h3>
                                                <p>
                                                    Frites + Cheddar + Oignon rouge + Emincé de poulet Tandoori + Sauce à l'ail
                                                </p>
                                            </div>
                                            <span class="offer-price">11€</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/Cheese Tandoori Fries.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>Cheese Tandoori Fries</h3>
                                                <p>
                                                    Frites + Cheddar + Oignon rouge + Emincé de poulet Tandoori + Sauce à l'ail
                                                </p>
                                            </div>
                                            <span class="offer-price">11€</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/Chili Cheese Jaffna Fries.jpg" alt="menu chili cheese jaffna fries" class="img-responsive">
                                            <div>
                                                <h3>Chili Cheese Jaffna Fries</h3>
                                                <p>
                                                    Frites + Cheddar + Oignon rouge + Emincé de poulet Jaffna + piment + Sauce à l'ail
                                                </p>
                                            </div>
                                            <span class="offer-price">11€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/Cheese Chicken Tikka Fries 1.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>Cheese Chicken Tikka Masala Fries</h3>
                                                <p>
                                                    Frites + Cheddar rapé + Poulet Tikka + Sauce masala + oignons frits + poivrons frits
                                                </p>
                                            </div>
                                            <span class="offer-price">13€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/Cheese Butter Chicken Fries.jpg" alt="cheese butter chicken fries" class="img-responsive">
                                            <div>
                                                <h3>Cheese Butter Chicken Fries</h3>
                                                <p>
                                                    Frites + Cheddar rapé + Poulet Tikka + Sauce au beurre aux amandes + oignons rouge
                                                </p>
                                            </div>
                                            <span class="offer-price">13€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->







                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div style="text-align: center;font-family: 'nautilus_pompiliusregular';margin-bottom: 1%;">
                                            <h3 style="font-size: 30px; color: #000;">Nos burgers</h3>
                                        </div>
                                    </div>

                                    <div class="col-lg-0 col-md-0 col-sm-12 col-xs-12 ">

                                    </div>



                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/menu-burger-butter-chicken.png" alt="burger butter chicken" class="img-responsive">
                                            <div>
                                                <h3>Burger Butter Chicken (servi avec frites fraiches)</h3>
                                                <p>
                                                    Poulet Tikka, sauce au beurre aux amandes, fromage cheddar, salade
                                                </p>
                                            </div>
                                            <span class="offer-price">11€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/Burger Tikka Masala.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>Burger Tikka Masala (servi avec frites fraiches)</h3>
                                                <p>
                                                    Poulet Tikka, sauce masala, fromage cheddar, salade, oignons et poivrons frits
                                                </p>
                                            </div>
                                            <span class="offer-price">11€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/plats/Burger Jaffna.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>Burger Jaffna (servi avec frites fraiches)</h3>
                                                <p>
                                                    Viande haché bouchère 150g, sauce masala, fromage cheddar, salade, oignons et poivrons frits
                                                </p>
                                            </div>
                                            <span class="offer-price">11€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->


                                    <!-- end col -->
                                </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 1140px;" tabindex="-1" role="option" aria-describedby="slick-slide03">
                                    <div class="title-items">
                                        <p>Accompagnement</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/basmati parfume.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>Riz Basmati parfumé</h3>
                                                <p>
                                                    Riz basmati parfumé, cuit à la vapeur.
                                                </p>
                                            </div>
                                            <span class="offer-price">3€</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/basmati briyani.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>Riz Biryani</h3>
                                                <p>
                                                    Riz basmati cuit à la vapeur avec du ghee, légumes et des épices.
                                                </p>
                                            </div>
                                            <span class="offer-price">7€</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/frite.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>Petite frite</h3>
                                                <p>
                                                    Une petite portion de frite.
                                                </p>
                                            </div>
                                            <span class="offer-price">3€</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/grande frite.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>Grande frite</h3>
                                                <p>
                                                    Une grande portion de frite.
                                                </p>
                                            </div>
                                            <span class="offer-price">5€</span>
                                        </div>
                                    </div>
                                    <div class="title-items">
                                        <p>Boissons</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/boissons.png" alt="" class="img-responsive">
                                            <div>
                                                <h3>SODA 33CL</h3>
                                                <p>
                                                    Coca, Coca cherry, Schweeps agrume, Oasis, Sprite, Ice tea, Necto, Cola champion
                                                </p>
                                            </div>
                                            <span class="offer-price">2€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/eau-thonon.png" alt="eau thonon" class="img-responsive">
                                            <div>
                                                <h3>EAU THONON 50CL</h3>
                                                <p>
                                                    Eau plate.
                                                </p>
                                            </div>
                                            <span class="offer-price">2€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/eau-sanpellegrino.png" alt="eau sanpellegrino" class="img-responsive">
                                            <div>
                                                <h3>EAU SAN PELLEGRINO 50CL</h3>
                                                <p>
                                                    Eau gasseuse.
                                                </p>
                                            </div>
                                            <span class="offer-price">2€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/biere-kingfisher.png" alt="" class="img-responsive">
                                            <div>
                                                <h3>BIERE KINGFISHER</h3>
                                                <p>
                                                    Biére indienne.
                                                </p>
                                            </div>
                                            <span class="offer-price">3.5€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/lion_lager.jpg" alt="" class="img-responsive">
                                            <div>
                                                <h3>BIERE LION LAGER BLONDE 4.8%</h3>
                                                <p>
                                                    Biére Srilankaise.
                                                </p>
                                            </div>
                                            <span class="offer-price">5€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/lion-stong.png" alt="" class="img-responsive">
                                            <div>
                                                <h3>BIERE LION STONG BLONDE 8.8%</h3>
                                                <p>
                                                    Biére Srilankaise.
                                                </p>
                                            </div>
                                            <span class="offer-price">5€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    <!-- end col -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="offer-item">
                                            <img src="images/bollystreet/menus/accompagnements/lion-stout.png" alt="" class="img-responsive">
                                            <div>
                                                <h3>BIERE LION STOUT BRUNE 8.8%</h3>
                                                <p>
                                                    Biére Srilankaise.
                                                </p>
                                            </div>
                                            <span class="offer-price">5€</span>
                                        </div>
                                    </div>
                                    <!-- end col -->

                                </div></div></div>












                    </div>
                </div>
                <!-- end tab-menu -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>