<div id="pricing" class="pricing-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="block-title text-center">
                    Où nous-trouver ?
                </h2>
                <p>Vous ne pouvez pas vous déplacer, nous sommes sur <a href="https://www.ubereats.com/fr/annecy/food-delivery/bolly-street/gfUlnicaT7qdItCxpujxRw?pl=JTdCJTIyYWRkcmVzcyUyMiUzQSUyMkFubmVjeSUyMiUyQyUyMnJlZmVyZW5jZSUyMiUzQSUyMkNoSUp1XzVoV09XUGkwY1JLNG1ydFRLc2tHbyUyMiUyQyUyMnJlZmVyZW5jZVR5cGUlMjIlM0ElMjJnb29nbGVfcGxhY2VzJTIyJTJDJTIybGF0aXR1ZGUlMjIlM0E0NS44OTkwODg3JTJDJTIybG9uZ2l0dWRlJTIyJTNBNi4xMjk1NDExJTdE" target="_blank"> <img src="images/bollystreet/logo/ubereats.png" alt=""></a>
                    <br>Suivez nous sur les réseaux sociaux pour être au courant du planning de la semaine
                    <a href="https://www.facebook.com/Bollystreet.fr" target="_blank"><i class="fa  fa-facebook"></i></a>  <b><b>
                            <a href="https://www.instagram.com/bollystreet_fr/" target="_blank"><i class="fa  fa-instagram"></i></a></b></b></p><b><b>



                        <p></p>
                    </b></b></div><b><b>
                    <div class="panel-pricing-in">
                        <!-- item -->
                        <div class="col-md-3 col-sm-3 text-center">
                            <div class="panel panel-pricing">
                                <div class="panel-heading">
                                    <div class="pric-icon">
                                        <i class="fa fa-map-marker" aria-hidden="true" style="color:#fff;"></i>
                                    </div>
                                    <h3>Lundi</h3>
                                </div>

                                <div class="footer-box-d">
                                    <h3>Super U Bonne</h3>
                                    <ul>
                                        <li>
                                            <p><span>Midi</span> </p>
                                            <span> 11:30 - 14:00</span>
                                        </li>
                                        <li>
                                            <p><span>Domaine de ChosalAr</span></p>
                                            <p><span>92 rue Ada Byron</span></p>
                                            <span>74160 Archamps (ArchParc)</span>
                                            <p><span>(Arret de navette Echosmile/ Arret de bus Centre de Convention)</span></p>



                                        </li>
                                    </ul>
                                </div>
                                <!-- end footer-box-d -->
                            </div>


                        </div>
                    </div>
                    <!-- /item -->

                    <!-- item -->
                    <div class="col-md-3 col-sm-3 text-center">
                        <div class="panel panel-pricing">
                            <div class="panel-heading">
                                <div class="pric-icon">
                                    <i class="fa fa-map-marker" aria-hidden="true" style="color:#fff;"></i>
                                </div>
                                <h3>Mardi</h3>
                            </div>

                            <div class="footer-box-d">
                                <h3>Annemasse</h3>

                                <ul>
                                    <li>
                                        <p><span>Midi</span> </p>
                                        <span> 11:30 - 14:00</span>
                                    </li>
                                    <li class="adaptive">
                                        <p><span>15 rue du commerce</span></p>
                                        <p><span>(en face de Tommy Hilfinger)</span></p>
                                        <span>74100 Annemasse</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="footer-box-d">
                                <h3>Nangy</h3>

                                <ul>
                                    <li>
                                        <p><span>Soir</span> </p>
                                        <span> 17:30 - 21:30</span>
                                    </li>
                                    <li>
                                        <p><span>75, Route de Bonneville</span></p>
                                        <span>74380 Nangy</span>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                    <!-- /item -->

                    <!-- item -->
                    <div class="col-md-3 col-sm-3 text-center">
                        <div class="panel panel-pricing">
                            <div class="panel-heading">
                                <div class="pric-icon">
                                    <i class="fa fa-map-marker" aria-hidden="true" style="color:#fff;"></i>
                                </div>
                                <h3>Mercredi</h3>
                            </div>

                            <div class="footer-box-d">
                                <h3>Fermé</h3>


                            </div>




                        </div>
                    </div>
                    <!-- /item -->

                    <!-- item -->
                    <div class="col-md-3 col-sm-3 text-center">
                        <div class="panel panel-pricing">
                            <div class="panel-heading">
                                <div class="pric-icon">
                                    <i class="fa fa-map-marker" aria-hidden="true" style="color:#fff;"></i>
                                </div>
                                <h3>Jeudi</h3>
                            </div>
                            <div class="footer-box-d">
                                <h3>Annemasse</h3>

                                <ul>
                                    <li>
                                        <p><span>Midi</span> </p>
                                        <span> 11:30 - 14:00</span>
                                    </li>
                                    <li>
                                        <p><span>Gare de Annemasse</span></p>
                                        <span>74100 Annemasse</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="footer-box-d">
                                <h3>Nangy</h3>

                                <ul>
                                    <li>
                                        <p><span>Soir</span> </p>
                                        <span> 17:30 - 21:30</span>
                                    </li>
                                    <li>
                                        <p><span>75, Route de Bonneville</span></p>
                                        <span>74380 Nangy</span>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="col-md-3 col-sm-3 text-center">
                        <div class="panel panel-pricing">
                            <div class="panel-heading">
                                <div class="pric-icon">
                                    <i class="fa fa-map-marker" aria-hidden="true" style="color:#fff;"></i>

                                </div>
                                <h3>Vendredi</h3>
                            </div>
                            <div class="footer-box-d">
                                <h3>Annemasse</h3>

                                <ul>
                                    <li>
                                        <p><span>Midi</span> </p>
                                        <span> 11:30 - 14:00</span>
                                    </li>
                                    <li class="adaptive">
                                        <p><span>15 rue du commerce </span></p>
                                        <p><span>(en face de Tommy Hilfinger)</span></p>
                                        <span>74100 Annemasse</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="footer-box-d">
                                <h3>Super U Bonne</h3>

                                <ul>
                                    <li>
                                        <p><span>Soir</span> </p>
                                        <span> 17:30 - 21:30</span>
                                    </li>
                                    <li>
                                        <p><span>Avenue du Léman Parc d'Activités de la Ménoge</span></p>
                                        <span>74380 Bonne</span>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="col-md-3 col-sm-3 text-center">
                        <div class="panel panel-pricing">
                            <div class="panel-heading">
                                <div class="pric-icon">
                                    <i class="fa fa-map-marker" aria-hidden="true" style="color:#fff;"></i>

                                </div>
                                <h3>Samedi</h3>
                            </div>

                            <div class="footer-box-d">
                                <h3>Privatisation Evènement</h3>

                                <!-- <ul>
                                    <li>
                                        <p><span>Soir</span> </p>
                                        <span> 17:30 - 21:30</span>
                                    </li>
                                    <li>
                                        <p><span>Avenue du Léman Parc d'Activités de la Ménoge</span></p>
                                        <span>74380 Bonne</span>
                                    </li>
                                </ul> -->
                            </div>


                        </div>
                    </div>
                    <!-- /item -->

                </b></b></div><b><b>
            </b></b></div><b><b>
            <!-- end row -->
        </b></b></div>