<div class="special-menu pad-top-100 parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: hidden; animation-duration: 1s; animation-delay: 0.1s; animation-name: none;">
                    <h2 class="block-title color-white text-center"> Spécialitées de la semaine </h2>
                    <h5 class="title-caption text-center">Pour votre bonheur nos plâts varient chaque semaine. </h5>
                </div>
                <div class="special-box">
                    <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; ">
{#                        <div class="owl-wrapper-outer">#}
{#                            <div class="owl-wrapper" >#}
                                <div class="owl-item" >
                                    <div class="item item-type-zoom">
                                        <a href="#" class="item-hover">
                                            <div class="item-info">
                                                <div class="headline">
                                                    Butter Chicken
                                                    <div class="line"></div>
                                                    <div class="dit-line">Filet de poulet mariné au yaourt et d'épices puis cuit au four, servi dans sa sauce au beurre et aux amandes.</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="item-img">
                                            <img src="images/bollystreet/specialite/butter-chicken.png" alt="Butter Chicken">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" >
                                    <div class="item item-type-zoom">
                                        <a href="#" class="item-hover">
                                            <div class="item-info">
                                                <div class="headline">
                                                    Poulet Korma
                                                    <div class="line"></div>
                                                    <div class="dit-line">Poulet désossé cuit dans une sauce aux oignons, tomates, amandes, cajous et raisins sec.</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="item-img">
                                            <img src="images/bollystreet/specialite/poulet-korma.png" alt="Poulet Korma">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" >
                                    <div class="item item-type-zoom">
                                        <a href="#" class="item-hover">
                                            <div class="item-info">
                                                <div class="headline">
                                                    Malabar  Poulet
                                                    <div class="line"></div>
                                                    <div class="dit-line">Poulet désossé cuit dans une sauce aux épices indienne et parfumé aux feuilles de curry.</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="item-img">
                                            <img src="images/bollystreet/specialite/mamabar-poulet.png" alt="Malabar Poulet">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" ><div class="item item-type-zoom">
                                        <a href="#" class="item-hover">
                                            <div class="item-info">
                                                <div class="headline">
                                                    Tikka Masala poulet
                                                    <div class="line"></div>
                                                    <div class="dit-line">Filets de poulet marinés aux épices puis cuit au four, servi dans sa sauce aux oignons, tomates, crème, poivrons frits.</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="item-img">
                                            <img src="images/bollystreet/specialite/poulet-tikka-masala.png" alt="poulet tikka Masala">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" ><div class="item item-type-zoom">
                                        <a href="#" class="item-hover">
                                            <div class="item-info">
                                                <div class="headline">
                                                    Dhal Masala
                                                    <div class="line"></div>
                                                    <div class="dit-line">Curry de lentilles corail et d’haricots mungo concassés 10€</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="item-img">
                                            <img src="images/bollystreet/specialite/dhal-masala.png" alt="dhal masala">
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" >
                                    <div class="item item-type-zoom">
                                        <a href="#" class="item-hover">
                                            <div class="item-info">
                                                <div class="headline">
                                                    Dhal Palak
                                                    <div class="line"></div>
                                                    <div class="dit-line">Curry de lentilles corail, d’haricots mungo concassés et d’épinards 11€</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="item-img">
                                            <img src="images/bollystreet/specialite/dhal-palak.png" alt="dhal palak">
                                        </div>
                                    </div>
                                </div>
{#                            </div>#}
{#                        </div>#}

                        <div class="owl-controls clickable">
                            <div class="owl-pagination">
{#                                <div class="owl-page active">#}
{#                                    <span class=""></span>#}
{#                                </div>#}
{#                                <div class="owl-page">#}
{#                                    <span class=""></span>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end special-box -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>