<article>
    <div class="row col-lg-12 mt-5">
        <div class="col-lg-3 text-center border-end border-2 h-border-success text-black-50 h-bay-jamjuree">
            <div>Par <a href="">Marie Herblot et Alban Dejong (photographies)</a></div>
            <span class="mt-4">22 juillet 2022 &agrave; 09h46<span>, </span></span> <span>Mis &agrave; jour le 25 juillet 2022 &agrave; 09h49</span>

            <p class="mt-3">Dur&eacute;e de lecture : 5 minutes</p>
            <a class="mx-2 btn btn-outline-secondary h-rounded-lg-6 hms-bg-color1 text-white" href="Animaux">Animaux</a>
            <a class="mx-2 btn btn-outline-secondary h-rounded-lg-6 hms-bg-color1 text-white" href="Agriculture">Agriculture</a>
            <a class="mt-4 btn btn-outline-secondary h-rounded-lg-6 hms-bg-color1 text-white" href="Alternatives">Alternatives</a>
        </div>
        <div class="col-lg-8 mx-lg-4">
            <p class="h2 h-text-success">Reportage &mdash; Animaux</p>
            <h1 class="h1">&Agrave; l&rsquo;&eacute;cole du cheval, les vignerons reprennent les r&ecirc;nes</h1>
            <div style="position:relative;"><img alt="À l'école du cheval, les vignerons reprennent les rênes" src="/data/uploads/content/reporterre/arton25817-9a3ef.jpg" style="width: 720px; height: 480px;" />
                <p style="display: none;">Ludo avec un cheval de race Percheron, durant la formation au château Soutard &agrave; Saint Émilion le 22 juin 2022. <span>- &copy; Alban Dejong / Reporterre</span></p>
            </div>
            <div class="row col-lg-12 mt-5">
                <div class="h4 h-bay-jamjuree">
                    <p>&Agrave; Saint-&Eacute;milion, l&rsquo;&eacute;cole du cheval vigneron apprend &agrave; se servir d&rsquo;animaux de trait. Une approche moins m&eacute;canis&eacute;e qui pla&icirc;t aux professionnels de la vigne qui re&ccedil;oivent cette formation.</p>
                </div>
                <div class="h-bay-jamjuree">
                    <p class="p-2 h-bg-secondary text-white fw-light">Saint-&Eacute;milion (Gironde), reportage</p>

                    <p>Les rires r&eacute;sonnent depuis l&rsquo;&eacute;curie du Ch&acirc;teau Soutard, situ&eacute;e &agrave; Saint-&Eacute;milion. Les cinq stagiaires patientent autour d&rsquo;un caf&eacute; pendant que leurs chevaux terminent de manger. Ils commencent aujourd&rsquo;hui un nouveau jour de la formation <i>&laquo;<small class="d-inline">&nbsp;</small>perfectionnement<small class="d-inline">&nbsp;</small>&raquo;</i>&nbsp;: 140&nbsp;heures pendant lesquelles ils se retrouvent trois &agrave; quatre jours par mois pour tout conna&icirc;tre du cheval de trait.</p>

                    <p><a href="https://www.festa-formation.fr/page/28" rel="external" target="_blank">L&rsquo;&Eacute;cole nationale du cheval vigneron</a> dresse elle-m&ecirc;me ses propres &eacute;quid&eacute;s qu&rsquo;elle re&ccedil;oit tr&egrave;s jeunes, souvent sauv&eacute;s de la boucherie. En France ce type de cheval est surtout &eacute;lev&eacute; pour sa viande. Mais sa consommation diminuant, cette &eacute;cole repr&eacute;sente de nouveaux d&eacute;bouch&eacute;s pour les &eacute;leveurs. D&rsquo;apr&egrave;s <a href="https://reporterre.net/IMG/pdf/dir-equivigne-2020.pdf">une enqu&ecirc;te men&eacute;e en 2020</a> par l&rsquo;institut fran&ccedil;ais du cheval et de l&rsquo;&eacute;quitation et l&rsquo;institut fran&ccedil;ais de la vigne et du vin, pr&egrave;s de 300 viticulteurs (<a class="spip_out" href="https://www.economie.gouv.fr/dgccrf/chiffres-et-reperes-vins-et-boissons" rel="external" target="_blank">sur plus de 80&nbsp;000 exploitations viticoles</a>) ont utilis&eacute; des chevaux sur leurs parcelles. Mais 63<small class="d-inline">&nbsp;</small>% d&rsquo;entre eux ont d&ucirc; faire appel &agrave; des prestataires ext&eacute;rieurs, et non pas &agrave; leurs propres b&ecirc;tes. D&rsquo;o&ugrave; l&rsquo;int&eacute;r&ecirc;t pour ces stagiaires d&rsquo;apprendre &agrave; &ecirc;tre autonomes avec ces animaux.</p>

                    <dl class="text_center">
                        <dt><img alt=""  data-original="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0039.jpg" height="800" src="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0039.jpg" style="display: inline;" width="1200" /><noscript><img src='data/uploads/content/reporterre/230622_reporterre__c_a_dejong0039.jpg' width='1200' height='800' alt='' /></noscript></dt>
                        <dt class="fst-italic">Un cheval de trait de la race Percheron sur le domaine. <i>&copy; Alban Dejong / Reporterre</i></dt>
                    </dl>

                    <p>S&rsquo;ils viennent d&rsquo;horizons diff&eacute;rents, les stagiaires partagent une passion commune&nbsp;: la culture de la vigne. Ils &eacute;prouvent le besoin d&rsquo;un retour &agrave; la nature, et veulent pr&eacute;server les sols. Charles par exemple, est chef d&rsquo;exploitation sur un domaine &agrave; Bergerac. R&eacute;cemment pass&eacute; en bio, il souhaite d&eacute;m&eacute;caniser au maximum et privil&eacute;gier la qualit&eacute; plut&ocirc;t que la quantit&eacute;&nbsp;: <i>&laquo;<small class="d-inline">&nbsp;</small>Je veux revenir &agrave; quelque chose de plus humain, plus en contact avec la vigne.<small class="d-inline">&nbsp;</small>&raquo;</i></p>

                    <p>M&ecirc;me chose pour Serge, agriculteur&nbsp;: <i>&laquo;<small class="d-inline">&nbsp;</small>J&rsquo;ai des chevaux pour le loisir, mais je voulais passer plus de temps avec eux, lier mes deux passions. Int&eacute;grer la traction animale sur mon exploitation est dans la logique de mon travail et de mes valeurs&nbsp;: pas de bruit, pas de gazole, c&rsquo;est plus vertueux. Je ne compte pas enlever le tracteur pour autant mais diminuer son utilisation.<small class="d-inline">&nbsp;</small>&raquo;</i>  </p>

                    <dl class="text_center">
                        <dt><img alt=""  data-original="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0156.jpg" height="800" src="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0156.jpg" style="display: inline;" width="1200" /><noscript><img src='data/uploads/content/reporterre/230622_reporterre__c_a_dejong0156.jpg' width='1200' height='800' alt='' /></noscript></dt>
                        <dt class="fst-italic">Charles, agriculteur, élève de la formation. <i>&copy; Alban Dejong / Reporterre</i></dt>
                    </dl>

                    <p>Avant toute chose, il faut pratiquer. La matin&eacute;e est d&eacute;di&eacute;e au labour entre les ceps de vigne. Les stagiaires harnachent les chevaux de l&rsquo;&eacute;cole&nbsp;: Barbara, une Percheronne, ainsi qu&rsquo;Hector, un Breton. Deux animaux qui connaissent parfaitement leur travail et permettent aux &eacute;l&egrave;ves d&rsquo;apprendre dans les meilleures conditions. La pr&eacute;paration est collective, propice &agrave; la p&eacute;dagogie et au rappel des bases sous l&rsquo;&oelig;il attentif de Franck, le formateur.</p>

                    <p>Bien effectuer chaque r&eacute;glage, mettre chaque sangle dans le bon sens&hellip; Harnacher correctement son cheval est essentiel pour &eacute;viter les blessures. Apr&egrave;s une derni&egrave;re r&eacute;vision des outils, direction la parcelle &agrave; travailler. Le groupe se s&eacute;pare en deux. Une partie reste avec Barbara pour passer le disque, une autre avec Hector pour s&rsquo;essayer &agrave; la d&eacute;cavaillonneuse, le travail le plus physique et technique du travail des vignes.&nbsp;</p>

                    <dl class="text_center">
                        <dt><img alt="" data-original="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0771.jpg" height="800" src="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0771.jpg" style="display: inline;" width="1200" /><noscript><img src='data/uploads/content/reporterre/230622_reporterre__c_a_dejong0771.jpg' width='1200' height='800' alt='' /></noscript></dt>
                        <dt class="fst-italic">Margaux et Inès, élèves en formation s&rsquo;appr&ecirc;tent à passer le disque dans les vignes. <i>&copy; Alban Dejong / Reporterre</i></dt>
                    </dl>

                    <p>La d&eacute;cavaillonneuse est un outil traditionnel qui permet de d&eacute;sherber autour des pieds de vigne. Son utilisation est beaucoup plus physique que le tracteur, mais pas moins d&eacute;licate. Elle permet d&rsquo;aller beaucoup plus en profondeur dans la terre. <i>&laquo;<small class="d-inline">&nbsp;</small>Le cheval a appris &agrave; s&rsquo;arr&ecirc;ter d&egrave;s qu&rsquo;il sent une r&eacute;sistance, donc &ccedil;a permet de ne pas arracher de pied, contrairement &agrave; un tracteur qui peut arracher toute une rang&eacute;e s&rsquo;il y a une d&eacute;faillance technique<small class="d-inline">&nbsp;</small>&raquo;</i>, explique Frank.</p>

                    <blockquote class="h3 text-center text-success">
                        <p>&laquo;<small class="d-inline">&nbsp;</small>Hector, marcher<small class="d-inline">&nbsp;</small>&raquo;</p>
                    </blockquote>

                    <p>Charles se pr&ecirc;te &agrave; l&rsquo;exercice. <i>&laquo;<small class="d-inline">&nbsp;</small>Hector, marcher.<small class="d-inline">&nbsp;</small>&raquo;</i> Les deux mains sur l&rsquo;outil, Charles le guide entre les pieds de vigne pendant qu&rsquo;Hector marche devant, s&rsquo;adaptant au rythme de son meneur. <i>&laquo;<small class="d-inline">&nbsp;</small>Hector est un cheval formidable qui sait s&rsquo;adapter parfaitement &agrave; la personne qu&rsquo;il a derri&egrave;re lui<small class="d-inline">&nbsp;</small>&raquo;</i>, commente Franck.</p>

                    <dl class="spip_document_43418 spip_documents spip_documents_center">
                        <dt><img alt="" data-original="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0861.jpg" height="800" src="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0861.jpg" style="display: inline;" width="1200" /><noscript><img src='data/uploads/content/reporterre/230622_reporterre__c_a_dejong0861.jpg' width='1200' height='800' alt='' /></noscript></dt>
                        <dt class="fst-italic">Charles, passant la charrue décavaillonneuse. <i>&copy; Alban Dejong / Reporterre</i></dt>
                    </dl>

                    <p>De l&rsquo;autre c&ocirc;t&eacute; du rang, In&egrave;s et Margaux sont avec Barbara pour passer le disque. Un outil qui permet d&rsquo;aplanir la terre soulev&eacute;e apr&egrave;s le passage de la d&eacute;cavaillonneuse&nbsp;: <i>&laquo;<small class="d-inline">&nbsp;</small>La difficult&eacute; ici est de maintenir la m&ecirc;me tension sur les r&ecirc;nes pour que le cheval aille parfaitement droit<small class="d-inline">&nbsp;</small>&raquo;</i>, explique In&egrave;s, <i>&laquo;<small class="d-inline">&nbsp;</small>s&rsquo;il d&eacute;vie un peu, il risque de heurter un rang.<small class="d-inline">&nbsp;</small>&raquo;</i></p>

                    <p>Salari&eacute;e polyvalente dans un domaine en biodynamie, In&egrave;s souhaite r&eacute;introduire cette activit&eacute;, une d&eacute;marche qu&rsquo;elle consid&egrave;re bien plus respectueuse de la nature. Le cheval engendre moins de nuisances et respecte plus l&rsquo;&eacute;cosyst&egrave;me que les tracteurs qui peuvent tasser la terre et &eacute;mettent beaucoup de gaz &agrave; effet de serre. Il permet en outre de travailler des parcelles qui sont parfois inaccessibles au tracteur.</p>

                    <dl class="text_center">
                        <dt><img alt="" data-original="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0673.jpg" height="800" src="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0673.jpg" style="display: inline;" width="1200" /><noscript><img src='data/uploads/content/reporterre/230622_reporterre__c_a_dejong0673.jpg' width='1200' height='800' alt='' /></noscript></dt>
                        <dt class="fst-italic">Ludo, lors de la formation. <i>&copy; Alban Dejong / Reporterre</i></dt>
                    </dl>

                    <p>Pour la Soci&eacute;t&eacute; fran&ccedil;aise des &eacute;quid&eacute;s de travail (Sfet), replacer les &eacute;quid&eacute;s de travail au c&oelig;ur de la soci&eacute;t&eacute; fran&ccedil;aise pourrait participer &agrave; <i>&laquo;<small class="d-inline">&nbsp;</small>une &eacute;volution positive de notre syst&egrave;me &eacute;conomique et social<small class="d-inline">&nbsp;</small>&raquo;</i>. Une &eacute;volution qui permettrait de limiter l&rsquo;utilisation d&rsquo;&eacute;nergies fossiles, et qui, en y liant profond&eacute;ment le cheval, changerait &eacute;galement le rapport &agrave; la vigne.</p>

                    <h3>Chevaux vignerons et &acirc;nes mara&icirc;chers</h3>

                    <p>En plus de l&rsquo;&eacute;cole du cheval vigneron, elle a &eacute;galement cr&eacute;&eacute; l&rsquo;&Eacute;cole nationale de l&rsquo;&acirc;ne mara&icirc;cher. Enfin, l&rsquo;&Eacute;cole nationale du cheval territorial verra le jour dans la commune d&rsquo;Hennebont (Morbihan) &agrave; l&rsquo;automne&nbsp;2022. Elle sera d&eacute;di&eacute;e aux communes qui cherchent &agrave; utiliser des chevaux pour collecter des d&eacute;chets, ou entretenir des espaces verts par exemple.</p>

                    <dl class="text_center">
                        <dt><img alt="" data-original="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0481.jpg" height="800" src="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0481.jpg" style="display: inline;" width="1200" /><noscript><img src='data/uploads/content/reporterre/230622_reporterre__c_a_dejong0481.jpg' width='1200' height='800' alt='' /></noscript></dt>
                        <dt class="fst-italic">Inuit, cheval de trait de race Comtois. <i>&copy; Alban Dejong / Reporterre</i></dt>
                    </dl>

                    <p>Une fois la formation de l&rsquo;&eacute;cole du cheval termin&eacute;e, les stagiaires pourront s&rsquo;ils le souhaitent acheter un des chevaux de l&rsquo;&eacute;cole. In&egrave;s est particuli&egrave;rement fan d&rsquo;Inuit, un jeune Comtois qu&rsquo;elle voit bien int&eacute;grer le domaine dans lequel elle travaille.</p>

                    <p> Ce petit groupe se retrouvera jusqu&rsquo;au mois d&rsquo;octobre avant de pouvoir travailler en bin&ocirc;me avec leur cheval, loin du brouhaha des machines, de mani&egrave;re autonome dans le silence des parcelles, pour ainsi revenir au plus pr&egrave;s de la vigne.</p>

                    <dl class="text_center">
                        <dt><img alt="" data-original="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0475.jpg" height="800" src="data/uploads/content/reporterre/230622_reporterre__c_a_dejong0475.jpg" style="display: inline;" width="1200" /><noscript><img src='data/uploads/content/reporterre/230622_reporterre__c_a_dejong0475.jpg' width='1200' height='800' alt='' /></noscript></dt>
                        <dt class="fst-italic"><i>&copy; Alban Dejong / Reporterre</i></dt>
                    </dl>                   &nbsp;
                    <hr class="bg-danger" />
                </div>
            </div>
        </div>
    </div>
</article>
